<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">

      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/antendimento-a-empresa-solucao.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div class="uk-flex-first@s">
        <div class="uk-card" style="padding-top: 20px; padding-bottom: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Solução <span class="linha"></span></span>
            <span class="uk-text-light">O apoio certo para <span class="destaque" style="font-weight: bold; font-size: 35px;">transformar a saúde mental no <span class="uk-text-primary">trabalho</span></span></span>
          </h2>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">Oferecemos atendimento empresarial especializado para fortalecer a saúde mental dentro das organizações.
            Criamos programas sob medida que equilibram bem-estar emocional e alta performance, de acordo com as necessidades de cada equipa.</p>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700">Nosso foco está em reduzir níveis de stress, melhorar a comunicação interna, prevenir o esgotamento profissional e aumentar o engajamento dos colaboradores. 
            Acreditamos que empresas mais saudáveis geram equipas mais criativas, motivadas e produtivas.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
