<div>
  <div class="uk-container efeito-cantos zoom-container" style="background-color: #c467bf; overflow: hidden; position: relative; z-index: 2;">
    <div class="circulo topo"></div>
    <div class="circulo baixo"></div>
    <div class="uk-child-width-1-2@l uk-grid uk-flex uk-flex-middle">
      <div class="uk-width-expand" style="position: relative;">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Contacto <span class="linha"></span></span>
            <span class="uk-text-light"> <span style="color: white; font-weight: bold;">Conecte sua empresa a um programa que transforma bem-estar em produtividade e inovação</span> </span>
          </h2>
         <a href="" class="uk-button uk-margin-large-top uk-hidden@m" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 8px 15px 8px 15px; color: #006699; font-weight: 500;">Entre em contacto</a>
      </div>
      <div class="uk-width-auto uk-flex-middle" style="padding-top: 50px; overflow: hidden; position: relative;">
          <img uk-img data-src="imagens/contacto_gestores_gestao_de_saude_mental_para_empresa.webp" width="400"  alt="contacto_gestores_gestao_de_saude_mental_para_empresa" class="zoom-hover uk-visible@l">  
          <div style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); z-index: 10;">
            <a href="" class="uk-button uk-visible@l uk-button-default" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 10px 15px 10px 15px; color: #006699; font-weight: 500;">Entre em contacto</a>
          </div>
      </div>
    </div>
  </div>
</div>