<div class="uk-section uk-section-large " style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">

      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-height-1-1"
             style="max-width: 480px; margin: auto;  border-radius: 10px;" 
             data-src="imagens/gestao-de-saude-mental-para-empresa_3.webp"
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div class="uk-flex-first@s">
        <div class="uk-card" style="padding-top: 20px; padding-bottom: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Pessoas no Centro <span class="linha"></span></span>
            <span class="uk-text-light"> Colocamos o bem-estar no <span class="destaque" style="font-size: 35px; font-weight: bold;"> coração da estratégia corporativa, porque acreditamos que cuidar de <span class="uk-text-primary">pessoas é também cuidar do crescimento da empresa</span></span></span>
          </h2>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin-bottom: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Mais do que uma consultoria</h3>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121; margin-top: 5px;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Posicionamo-nos como parceiros na transformação cultural da sua organização, oferecendo uma abordagem prática, estruturada e adaptada à sua realidade.</p>
        <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Trabalho lado a lado</h3>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121; margin-top: 7px;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Atuamos em conjunto com gestores e colaboradores, desenhando e implementando programas duradouros que vão além de soluções imediatistas. O objetivo é gerar impacto real e mensurável.</p>
            <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Resultados consistentes</h3>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121; margin-top: 7px;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Garantimos que cada ação contribua para uma melhoria contínua, sustentando resultados ao longo do tempo e fortalecendo a cultura organizacional.</p>
            <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Pessoas no centro</h3>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121; margin-top: 7px;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Acreditamos que cuidar de pessoas é também cuidar dos negócios. Empresas saudáveis e humanas tornam-se mais competitivas, resilientes e preparadas para os desafios do futuro.</p>
        </div>
      </div>
    </div>
  </div>
</div>