<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/gestao-de-saude-mental-para-empresa.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Gestão de Saúde Mental para Empresa<span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-weight: bold; font-size: 35px;">Cuidar da mente é cuidar do <span class="uk-text-primary">negócio</span></span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            A gestão da saúde mental deixou de ser apenas uma tendência para se tornar uma prioridade estratégica nas organizações modernas. Mais do que cuidar do bem-estar individual, trata-se de construir ambientes de trabalho saudáveis, sustentáveis e preparados para enfrentar os desafios de um mercado cada vez mais competitivo.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">Entendemos que empresas saudáveis são feitas de pessoas saudáveis. Por isso, oferecemos uma abordagem integrada que une diagnóstico, prevenção, acompanhamento contínuo e resultados mensuráveis.</p>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Por que investir em saúde mental corporativa?</h3>
          <ul class="uk-list uk-list-square" style="font-size: 16px; color: #212121;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Redução do absenteísmo e presenteísmo: </strong>colaboradores mais equilibrados apresentam maior produtividade.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1100"><strong>Fortalecimento da cultura organizacional:</strong> ambientes mais colaborativos e menos tóxicos.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200"><strong>Atração e retenção de talentos:</strong> profissionais  procuram empresas que cuidam genuinamente de sua saúde.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1300"><strong>Conformidade com boas práticas ESG:</strong> investir em saúde mental é também investir em responsabilidade social e governança.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1400"><strong>Impacto direto nos resultados:</strong> equipes mais engajadas geram maior inovação e crescimento.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>