<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/renda_extra.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Renda Extra com Equilíbrio <span class="linha"></span></span>
            <span class="uk-text-light"> Aumente seus <span class="destaque" style="font-size: 35px; font-weight: bold;"> <span class="uk-text-primary">ganhos </span>de forma prática, com mais produtividade e equilíbrio no dia a dia. </span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Muitas pessoas enfrentam dificuldades financeiras e não sabem como começar a gerar renda extra sem sobrecarregar a rotina.
          </p>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Este programa ajuda você a:</h3>
          <ul class="uk-list uk-list-square" style="font-size: 16px; color: #212121;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000">Diversificar suas fontes de renda.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1100">Organizar o tempo com produtividade.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200">Manter equilíbrio entre trabalho e bem-estar.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>