<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
    <div class="uk-container">
      <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Nossos pilares <span class="linha"></span></span>
            <span class="uk-text-light"> Cada um dos <span class="destaque" style="font-size: 35px; font-weight: bold;"><span class="uk-text-primary">3 pilares fundamentais</span> integra equilíbrio humano com desempenho organizacional</span></span>
        </h2>
        <div class="uk-child-width-1-3@l uk-grid uk-grid-large uk-grid-stacked uk-grid-collapse uk-margin-medium-top" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #094268;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Prevenção</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';"> Implementação de práticas e ferramentas que ajudam a identificar e reduzir riscos psicossociais antes que se transformem em problemas mais graves.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img data-src="imagens/programa-de-saude-mental_2.webp" uk-img alt="">
                </div>
            </div>
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #00aaff;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Apoio Psicológico</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';">Disponibilização de suporte especializado, tanto individual quanto em grupo, para os colaboradores que necessitam de acompanhamento.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img src="imagens/programa-de-saude-mental_3.webp" alt="">
                </div>
            </div>
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #c467bf;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Promoção do Bem-Estar</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';">Programas e iniciativas contínuas que estimulam hábitos saudáveis e favorecem a conciliação entre vida pessoal e profissional.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img data-src="imagens/programa-de-saude-mental_4.webp" uk-img alt="">
                </div>
            </div>
        </div>
    </div>
</div>