.back{
  background-image: url(/imagens/asset1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back-canva{
  background-image: url(/imagens/asset1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}


#offcanvas-nav {
  display: none;
}

.uk-offcanvas-bar {
  visibility: hidden;
}

.uk-offcanvas.uk-open .uk-offcanvas-bar {
  visibility: visible;
}

.uk-navbar-container{
  border-bottom: 5px solid transparent; /* precisa ser transparente */
  border-image: radial-gradient(circle 562px at center, rgba(0, 0, 0, 0.626), #f1f6fb00) 1;
  border-image-slice: 1;
  text-align: center;
}

.custom-navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  z-index: 3;
  background-color: rgba(222, 222, 222, 0.043);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.176);

   /* TRANSIÇÃO SUAVE */
  transition: transform 0.5s ease, opacity 0.9s ease, background-color 0.9s ease, backdrop-filter 0.9s ease;
}

.uk-navbar-nav li a {
  font-size: 16px !important;
  color: #969696 !important;
  text-transform: capitalize !important;
}

.custom-navbar:hover {
  background-color: #00224bec !important;
}

.uk-drop-grid {
  position: relative; /* precisa para o pseudo-elemento */
}

.uk-drop-grid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* meio exato */
  width: 1px;
  background: #dcdcdc; /* cor da linha */
}

.uk-button::first-letter{
  text-transform: uppercase;
}

.uk-button {
  text-transform: lowercase;
  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease, background-color 0.3s ease;
  text-transform: lowercase;
  font-size: 16px !important;
  font-weight: 400 !important;
  border: none !important;
  border-radius: 10px;
}

/* efeito de espalhar/reagrupar */
.uk-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #c467bf !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* estado normal */
.uk-navbar-dropdown .uk-navbar-dropdown-nav li > a.dropdown-link {
  font-size: 18px;
  color: #272727 !important;
  text-decoration: none;
  transition: color 0.2s ease;
}

ul li a:hover{
  color: #c467bf !important;
}

/* hover */
.uk-navbar-dropdown .uk-navbar-dropdown-nav li > a.dropdown-link:hover {
  color: #c467bf !important;
  text-decoration: underline;
}


/* animação quando hover */
.uk-button:hover {
  color: white !important;
  border: none !important;
  animation: spreadRegroup 600ms ease forwards;
}

@keyframes spreadRegroup {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.08); } /* espalha */
  100% { transform: scale(1); }   /* volta ao normal */
}

.uk-button:hover::after {
  width: 250%;
  height: 250%;
  transition: width 0.4s ease, height 0.4s ease;
}

.uk-nav .uk-parent > a {
  position: relative; /* importante para posicionar o ::after */
}

.uk-nav .uk-parent > a::after {
  content: "▼"; /* ou ▸ */
  font-size: 0.7em;
  color: #666;
  position: absolute;
  right: 10px; /* encosta à direita do <a> */
  top: 50%;
  transform: translateY(-50%); /* centraliza verticalmente */
}


.uk-nav .uk-parent.uk-open > a::after {
  content: "▲"; /* muda para cima */
}

/* Dividers no menu principal */
#offcanvas-nav .uk-nav > li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

#offcanvas-nav .uk-nav > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Dividers nos submenus */
#offcanvas-nav .uk-nav-sub > li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

#offcanvas-nav .uk-nav-sub > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Dividers na lista de redes sociais */
#offcanvas-nav .uk-list-divider > li {
  border-bottom: 1px solid #e5e5e5; /* mesma cor */
  padding-bottom: 6px;
  margin-bottom: 6px;
}

#offcanvas-nav .uk-list-divider > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
hr{
  border-bottom: 1px solid #e5e5e5; /* mesma cor */
  margin-bottom: 0;
}


.uk-navbar-nav > li.uk-active > a {
  color: #c467bf !important; /* cor para ativo */
  font-weight: 600;
}