<div id="missao" class="uk-section uk-section-large uk-padding-remove-bottom back" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="missao-section">
  <div>
    <h1 class="missao-title">Comunidade</h1>
    <p class="missao-text">
    Construímos juntos uma comunidade segura, diversa e acolhedora, onde cada voz importante, o cuidado coletivo é prioridade e crescemos com respeito, empatia, curiosidade e apoio mútuo.
  </p>
  <div class="uk-margin-medium-top uk-flex button-desc" style="margin-left: 100px;">
    <a href="" class="uk-button uk-buttom-default" style="background-color: #00479f; border: none;">Fazer Parte</a>
    <a [routerLink]="'/comunidade-onda-branca'" class="uk-button uk-button-saiba" style="border: 1px solid  rgba(214, 214, 214, 0.742); margin-left: 10px;">Saiba mais</a>
  </div>
  </div>
</div>
  </div>
</div>