<div class="uk-secton" id="sobre-onda-branca" style="background-color: #fff;">
  <div class="onda-branca-animada">
  <div class="onda-loop">

    <!-- FAIXA 1 -->
    <div class="faixa">
      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>

      <span class="espaco"></span>

      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>
    </div>

    <!-- FAIXA 2 (DUPLICAÇÃO PARA ROLAR SEM PARAR) -->
    <div class="faixa">
      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>

      <span class="espaco"></span>

      <span class="frase">
        M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span>
        <span class="espaco"></span>
        <span class="x">O</span>n<span class="x">d</span>a
        <span class="x">B</span>ran<span class="x">c</span>a
      </span>
    </div>

  </div>
</div>

  </div>
  <div class="uk-container" style="background-image: url('https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/background/asset1.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvYmFja2dyb3VuZC9hc3NldDEud2VicCIsInNjb3BlIjoiZG93bmxvYWQiLCJpYXQiOjE3ODU0MDQzNzMsImV4cCI6MjEwMDc2NDM3M30.SHrqeh8wisSjS3My0odJ_nnuexuWcgpB81f1vjGMpFo');background-size: cover ; background-position: center; background-repeat: no-repeat;">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
      <div class="uk-text-right img" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
        <img width="90%" data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/home/sobre-onda-branca.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvaG9tZS9zb2JyZS1vbmRhLWJyYW5jYS53ZWJwIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMyMTg1MCwiZXhwIjoyMTAwNjgxODUwfQ.Qnq3jtCkgUkqGzsitHpW8acajJCe4zI0Ftb19CfPP1A" uk-img alt="Imagem de sobre a comunidade onda branca">
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default" style="background-color: transparent; border: none; box-shadow: none; " uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora'; font-size: 1.5rem;" >
                <span class="titulo-principal">Iniciativa da GestDreams <span class="linha"></span></span>
                <span class="uk-text-light"> Movida pelo propósito de colocar<span class="destaque" style="font-size: 2rem, ; font-weight: bold; color: #8f51c9;"> a saúde mental e a produtividade</span> no centro da vida moderna</span>
          </h2>
          <p style="font-size: 1rem;">Mais do que uma iniciativa, somos uma comunidade que acredita no crescimento integral das pessoas e no poder coletivo de gerar mudança. O nosso compromisso é ser motor de <strong>equilíbrio, resiliência e prosperidade sustentável</strong>, para Angola e para toda a África.</p>
          <p style="font-size: 1rem;">Acreditamos que a verdadeira inovação surge quando o cuidado com a mente se encontra com o <strong>valor humano</strong> e se transforma em <strong>impacto social positivo.</strong></p>
          <a [routerLink]="['/contacto']" class="uk-button uk-button-default btn-blue-alive" style="background-color: #00479f; color: #fff; border-radius: 5px;">Comece agora <span uk-icon="icon: arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
