<div class="uk-secton" id="sobre-onda-branca" style="background-color: #fff;">
  <div class="uk-container">
    <div class="onda-branca-animada">
      <div class="onda-loop">
  <div class="faixa">
    <span class="frase">
      M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span> <span class="espaco"></span>  <span class="x">O</span>n<span class="x">d</span>a <span class="x">B</span>ran<span class="x">c</span>a
    </span>

    <span class="espaco"></span>

    <span class="frase">
      M<span class="x">O</span>vim<span class="x">e</span>nt<span class="x">O</span> <span class="espaco"></span> <span class="x">O</span>n<span class="x">d</span>a <span class="x">B</span>ran<span class="x">c</span>a
    </span>
  </div>
</div>


    </div>
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
      <div class="uk-text-right">
        <img width="90%" src="imagens/home/sobre-onda-branca.png" alt="">
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default" style="background-color: transparent; border: none; box-shadow: none; ">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora'; font-size: 1.5rem;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
                <span class="titulo-principal">Iniciativa da GestDreams <span class="linha"></span></span>
                <span class="uk-text-light"> Movida pelo propósito de colocar<span class="destaque" style="font-size: 2rem, ; font-weight: bold; color: #8f51c9;"> a saúde mental e a produtividade</span> no centro da vida moderna</span>
          </h2>
          <p style="font-size: 1rem;">Mais do que uma iniciativa, somos uma comunidade que acredita no crescimento integral das pessoas e no poder coletivo de gerar mudança. O nosso compromisso é ser motor de <strong>equilíbrio, resiliência e prosperidade sustentável</strong>, para Angola e para toda a África.</p>
          <p style="font-size: 1rem;">Acreditamos que a verdadeira inovação surge quando o cuidado com a mente se encontra com o <strong>valor humano</strong> e se transforma em <strong>impacto social positivo.</strong></p>
          <a href="" class="uk-button uk-button-default btn-blue-alive" style="background-color: #00479f; color: #fff; border-radius: 5px;">Comece agora <span uk-icon="icon: arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>