<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background: linear-gradient(to right, #00224bec, #2A6FB0)">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/comunidade/comunidade-intro.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo'; color: white;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Comunidade<span class="linha"></span></span>
            <span class="uk-text-light"> <span class="destaque" style="font-size: 35px; font-weight: bold;"> Um espaço de apoio, <span style="color: #c467bf;">partilha e crescimento coletivo</span></span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: white;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            A comunidade voltada à promoção do bem-estar mental, equilíbrio emocional e produtividade saudável. Acreditamos que o desenvolvimento pessoal e profissional deve caminhar junto com a saúde mental, criando um ambiente onde pessoas possam crescer, aprender e apoiar-se mutuamente.
          </p>
          <p class="uk-text" style="font-size: 16px; color: white;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">Criada como uma extensão prática da missão da Onda Branca, a comunidade oferece um ambiente seguro, empático e inclusivo, onde cada pessoa é livre para expressar-se, aprender e evoluir ao seu próprio ritmo.</p>
        </div>
      </div>
    </div>
  </div>
</div>