.back{
  background-image: url(/imagens/RCS2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-principal {
  font-size: 16px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.titulo-principal .linha {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 3px;
  background: linear-gradient(90deg, #00aaff, #0d5a90);
  display: block;
  animation: grow 2s infinite alternate;
}

.titulo-metricas{
  max-width: 750px;
}

@keyframes growMobile {
  from { width: 0; }
  to { width: 25%; }
}

@keyframes grow {
    from { width: 20%; }
    to { width: 80%; }
}

@media (max-width:768px) {

  .titulo-principal{
    display: block;
  }
  h2, .destaque{
    font-size: 1.6rem !important;
  }

  .titulo-principal .linha{
    width: 25%;
    animation: growMobile 2s infinite alternate;
  }
}

.uk-button {
  text-transform: lowercase;   /* força tudo em minúsculas */
}

.uk-button::first-letter {
  text-transform: uppercase;   /* só a primeira letra da frase em maiúscula */
}


.uk-button {
  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease, background-color 0.3s ease;
  text-transform: lowercase;
  font-size: 18px !important;
  font-weight: 400 !important;
  border: none !important;
  border-radius: 5px;
}

/* efeito de espalhar/reagrupar */
.uk-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #c467bf !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* animação quando hover */
.uk-button:hover {
  color: white !important;
  border: none !important;
  animation: spreadRegroup 600ms ease forwards;
}

@keyframes spreadRegroup {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.08); } /* espalha */
  100% { transform: scale(1); }   /* volta ao normal */
}

.uk-button:hover::after {
  width: 250%;
  height: 250%;
  transition: width 0.4s ease, height 0.4s ease;
}