@font-face {
  font-family: 'Joyride';
  src: url('/Joyride-Font/JoyrideSTD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'joryde';
  src: url('/Joyride-Font/JoyrideALT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 344px) and (max-width: 767px) {
  .logo {
    width: 100% !important;
  }
  .padd{
    padding: 0 !important;
    text-align: center !important;
  }
}