<div class="uk-section uk-padding-remove-right uk-padding-remove-left "  style="background-color: #272727;">
    <div class="uk-container uk-padding-large padd uk-padding-remove-bottom uk-padding-remove-top">
        <div class="uk-child-width-1-2@l conteudo uk-flex card uk-padding uk-child-width-1-2@s uk-child-width-1-2@m uk-grid uk-grid-collapse">
            <div class="uk-margin-remove uk-flex uk-flex-column uk-flex-between">
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/onda-podcast.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3Mvb25kYS1wb2RjYXN0LnN2ZyIsInNjb3BlIjoiZG93bmxvYWQiLCJpYXQiOjE3ODUzMjkxMTcsImV4cCI6MjEwMDY4OTExN30.T16NMRQ7uN_TTZtTFOy4k7tbRKnc96WBHa7FvMiVIo4" uk-img class="logo" width="70%" alt="Logo do podcast onda branca">
                <h1 style="font-family: 'Joyride', sans-serif; font-size: 2rem; font-weight: bold; text-transform: uppercase; color: white;">P<span style="font-family: 'joryde';">O</span>DCA<span style="font-family: 'joryde';">S</span>T <br> de Saúde Mental</h1>
                </div>
                <div class="uk-margin-large-top">
                <div>
                    <h1 style="font-family: 'Joyride', sans-serif; font-size: 2rem; font-weight: bold; text-transform: uppercase; color: white;">Rá<span style="font-family: 'joryde';">D</span>i<span style="font-family: 'joryde';">O</span> solidaria</h1>
                    <p style="color: #c4c4ce; max-width: 350px; font-size: .9rem; font-family: 'sora'; font-weight: 300;">A Onda Branca está na Rádio Solidária. O <strong>Dr. Bernardino recebe especialistas em saúde mental e produtividade para levar conhecimento à comunidade.</strong></p>
                    <div class="uk-hidden@s">
                        <h1 class="fm" style="color: white; font-weight: bold; text-transform: uppercase; font-size: 2.5rem; margin: 0; font-family: 'Joyride';">90.7 FM</h1>
                        <p style="color: white; font-weight: 500; text-transform: uppercase; font-size: 1rem; font-style: italic; margin-top: 0px; font-family: 'Joyride';">T<span style="font-family: 'joryde';">O</span>do<span style="font-family: 'joryde';">S</span> sábados 9h - 10h</p>
                    </div>
                </div>
            </div>

            </div>
            <div class="uk-margin-remove">
                <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
                    <div>
                        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/spotify.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3Mvc3BvdGlmeS5zdmciLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzI5MjI5LCJleHAiOjIxMDA2ODkyMjl9.gLaz5aPPDiPSUOgUs-VvGbDc75h_eZfv7BiObe8UgZ4" uk-img alt="Logo do spotify">
                        <p style="color: #fff; font-size: .9rem, ">Mensalmente, o Podcast Onda Branca, com o Dr. Bernardino, recebe especialistas para conversar sobre saúde mental, produtividade e bem-estar. </p>
                        <a href="" class="uk-button uk-button-default" style="border: 1px solid #7371b5 !important; color: #7371b5; font-size: .8rem; border-radius: 5px;">Acessar o Spotify <span class="fas fa-external-link-alt"></span></a>
                    </div>
                    <div>
                        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/youtube.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MveW91dHViZS5zdmciLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzI5Mjk3LCJleHAiOjIxMDA2ODkyOTd9.rIEuIzh8dOC4v8uv1kYL-3otqCZUUuUUlvOe9rpU82k" uk-img alt="Logo do youtube">
                        <p style="color: white; font-size: .9rem">Podcasts e vídeos sobre saúde mental, produtividade, desenvolvimento pessoal e profissional.</p>
                        <a href="" class="uk-button uk-button-default" style="border: 1px solid #7371b5 !important; color: #7371b5; font-size: .8rem; border-radius: 5px;">Acessar o Youtube <span class="fas fa-external-link-alt"></span></a>
                    </div>
                    
                </div>
                <div class="uk-text-center uk-margin-large-top uk-visible@s">
                <h1 class="fm" style="color: white; font-weight: bold; text-transform: uppercase; font-size: 4rem; margin: 0; font-family: 'Joyride';">90.7 FM</h1>
                <p style="color: white; font-weight: 500; text-transform: uppercase; font-size: 1rem; font-style: italic; margin-top: 0px; font-family: 'Joyride';">T<span style="font-family: 'joryde';">O</span>do<span style="font-family: 'joryde';">S</span> sábados 9h - 10h</p>
            </div>
            </div>
        </div>
    </div>
</div>