.hero{
    background-image: url("/imagens/hero/hero-sobre-nos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

blockquote{
  font-size: 16px;
  border-left: solid 3px #0d5a90;
  padding: 15px;
  color: #212121;
}

.titulo-principal {
  font-size: 16px;
  color: #094268;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

@keyframes grow {
    from { width: 20%; }
    to { width: 80%; }
}

.titulo-principal .linha {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 3px;
  background: linear-gradient(90deg, #00aaff, #0d5a90);
  display: block;
  animation: grow 2s infinite alternate;
}

.titulo-metricas{
  max-width: 550px;
}

@keyframes growMobile {
  from { width: 0; }
  to { width: 25%; }
}

@media (min-width: 768px ) and (max-width: 1024px) {
  .titulo-principal{
    display: block;
  }
  h2, .destaque{
    font-size: 1.6rem !important;
  }

  .titulo-principal .linha{
    width: 25%;
    animation: growMobile 2s infinite alternate;
  }  
  .hero-content{
        display: flex;
        align-items: flex-end;
    }
    
    .hero{
        height: 656px !important;
    }
    .hero-content{
        display: flex;
        align-items: flex-end;
    }
    p{
        font-size: 18px !important;
    }
    .desc{
        margin-top: 30px !important;
    }
    .uk-button{
        margin-top: 30px !important;
    }
}

@media (min-width:344px) and (max-width: 767px) {
    .hero{
        height: 556px !important;
    }
    .hero-content{
        display: flex;
        align-items: flex-end;
    }
    h1{
        font-size: 1.6rem !important;
        max-width: 100% !important;
    }
    p{
        font-size: 16px !important;
    }
    .desc{
        margin-top: 10px !important;
    }
    .uk-button{
        margin-top: 10px !important;
    }
    .titulo-modal-title{
      font-size: 12px !important;
    }
    .uk-modal-title{
      font-size: 14px !important;
    }
    .title{
      font-size: 18px !important;
    }
    .descricao{
      font-size: 12px !important;
      margin: 0;
    }
}

.uk-button {
  text-transform: lowercase;   /* força tudo em minúsculas */
}

.uk-button::first-letter {
  text-transform: uppercase;   /* só a primeira letra da frase em maiúscula */
}

.uk-button {
  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease, background-color 0.3s ease;
  text-transform: lowercase;
  font-size: 20px !important;
  font-weight: 400 !important;
  border: none !important;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
}

/* efeito de espalhar/reagrupar */
.uk-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #c467bf !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* animação quando hover */
.uk-button:hover {
  color: white !important;
  border: none !important;
  animation: spreadRegroup 600ms ease forwards;
}

@keyframes spreadRegroup {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.08); } /* espalha */
  100% { transform: scale(1); }   /* volta ao normal */
}

.uk-button:hover::after {
  width: 250%;
  height: 250%;
  transition: width 0.4s ease, height 0.4s ease;
}