<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Pacotes Corporativos <span class="linha"></span></span>
            <span class="uk-text-light"> Flexibilidade para <span class="destaque" style="font-size: 35px; font-weight: bold;">empresas de diferentes portes, com <span class="uk-text-primary">soluções que se adaptam à sua realidade</span> </span></span>
        </h2>
        <div uk-accordion class="uk-margin-medium-top uk-padding">
        <li>
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;"  href="">Sessão Demonstrativa Gratuita</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Uma experiência prática de 20 minutos para uma equipa piloto.</p>
                <ul class="uk-list uk-list-square" style="color: #212121;">
                    <li>Permite testar os benefícios diretamente no ambiente de trabalho.</li>
                    <li>Não exige preparação ou equipamentos.</li>
                    <li>Ideal para apresentar a proposta aos colaboradores e gestores.</li>
                </ul>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title"  style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;"  href="">Plano Mensal</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Pacote ágil e objetivo, com 2 sessões semanais de ginástica laboral.</p>
                <ul style="color: #212121;" class="uk-list uk-list-square">
                    <li>Inclui suporte digital com dicas de alongamentos e boas práticas.</li>
                    <li>Focado em melhorar disposição, reduzir tensões e criar uma rotina de pausas ativas.</li>
                    <li>Excelente opção para empresas que querem dar o primeiro passo em qualidade de vida.</li>
                </ul>
            </div>
        </li>

        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">Programa Anual</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">A solução mais completa, com impacto estratégico para a organização.</p>
                <ul style="color: #212121;" class="uk-list uk-list-square">
                    <li>A solução mais completa, com impacto estratégico para a organização.</li>
                    <li>Workshops temáticos sobre ergonomia, gestão do estresse e produtividade.</li>
                    <li>Avaliação postural dos colaboradores, com recomendações práticas.</li>
                    <li>Relatórios de impacto para acompanhamento dos resultados pela liderança.</li>
                    <li>Fortalece o employer branding e posiciona a empresa como referência em cuidado com as pessoas.</li>
                </ul>
            </div>
        </li>
    </div>
    </div>
</div>
