<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/antendimento-a-empresa-problema.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Problema <span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-weight: bold; font-size: 35px;">Os Obstáculos da Saúde Mental nas <span class="uk-text-primary">Organizações</span></span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            No mercado atual, empresas enfrentam desafios crescentes:
          </p>

          <ul class="uk-list uk-list-bullet" class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700">
            <li>Aumento de stress</li>
            <li>Baixa produtividade</li>
            <li>Conflitos internos</li>
            <li>Esgotamento emocional das equipas</li>
          </ul>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Sem apoio adequado, esses problemas podem resultar em <strong>absentismo</strong>, <strong>rotatividade</strong> e  <strong>queda de desempenho.</strong>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>