<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/mentoria-para-gestores.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div class="uk-flex-first@s">
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Programa de Mentoria <span class="linha"></span></span>
            <span class="uk-text-light">Cuidar de quem <span class="destaque" style="font-weight: bold; font-size: 35px;"><span class="uk-text-primary">lidera</span> é cuidar de toda a equipa.</span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Mentoria em saúde mental para gestores que desejam equilibrar bem-estar e produtividade, sem perder a clareza nas decisões.
          </p>

          <ul class="uk-list uk-list-bullet" class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700">
            <li>Desenvolvendo líderes resilientes e conscientes</li>
            <li>Equilibrando saúde mental e performance</li>
            <li>Criando ambientes de trabalho mais humanos</li>
            <li>Construindo resultados sustentáveis</li>
          </ul>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            A nossa abordagem personalizada une ciência, empatia e prática, ajudando gestores a reduzirem o estresse, aumentarem o foco e inspirarem suas equipas.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>