<div class="uk-position-relative uk-visible-toggle uk-light" 
     uk-slideshow="autoplay: true; animation: slide; pause-on-hover: false; ratio: false">

  <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true">

    <!-- SLIDE 1 -->
    <li>
      <div class="uk-position-relative uk-height-1-1">
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/hero_1.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvaGVyb18xLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE3MzMyLCJleHAiOjIxMDA2NzczMzJ9.o0pPbLnzOOtR1YhFIvdpArUpF6LQbsYU0xerPyTFm1g" uk-img alt="hero imagem 1" class="uk-visible@s" uk-cover>
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/mobile-top-1.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvbW9iaWxlLXRvcC0xLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE4MDExLCJleHAiOjIxMDA2NzgwMTF9.CbWz2L4rM__ggvaiVSKGGkjsVNFjt50ZjbiZhO5CRRY" uk-img class="uk-hidden@s" style="object-position: center top;" uk-cover alt="hero mobile imagem 1">
      </div>

      <div class="uk-container">
        <div class="uk-position-center-left uk-text-left text uk-padding-large conteudo">
          <p class="desc_1" style="color: #272727; font-size: 1.6rem; font-weight: 200; max-width: 400px; margin: 0; font-family: 'sora';">
            Programas de bem-estar, palestras, workshop e treinamentos para 
            <span style="font-weight: 500;">fortalecer equipes, individuos e promover saúde mental</span>
          </p>

          <a [routerLink]="['/contacto']" 
             class="uk-button uk-button-default btn-gradient-animated" 
             style="color: #fff; margin-top: 25px;">
            Comece aqui <span uk-icon="icon: arrow-right"></span>
          </a>
        </div>
      </div>
    </li>

    <!-- SLIDE 2 -->
    <li>
      <div class="uk-position-relative uk-height-1-1">
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/hero_2.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvaGVyb18yLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE3MzYyLCJleHAiOjIxMDA2NzczNjJ9.neZuSmih3TgieGb5kFAnKx-qE0vyDGVKHivJWM-eXww" uk-img class="uk-visible@s" alt="hero 2 imagem 2" uk-cover>
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/mobile-top-2.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvbW9iaWxlLXRvcC0yLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE4MzcyLCJleHAiOjIxMDA2NzgzNzJ9.mAzrKyveNg_HraVkX5zFvTw9mCEY-g1U9nDaenGm9GM" uk-img class="uk-hidden@s" style="object-position: center top;" uk-cover alt="hero mobile 2 imagem 2">
      </div>

      <div class="uk-container">
        <div class="uk-position-center-left uk-text-left uk-light text conteudo uk-padding-large">
          <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/aovivo.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvYW92aXZvLnBuZyIsInNjb3BlIjoiZG93bmxvYWQiLCJpYXQiOjE3ODUzMjg3MTQsImV4cCI6MjEwMDY4ODcxNH0.jOaFMr8vayPj9zulun6aMM4G7MwoDYWLaUMWDcVCdxE" uk-img  width="120" alt="logo ao vivo onda branca">
          <h2 class="title" 
              style="font-weight: 200; margin-bottom: 0; font-size: 2.3rem; max-width: 500px; font-family: 'Joyride'; color: #272727; margin-top: 0;">
            Programa onda branca
          </h2>

          <p class="desc" style="color: #272727; font-weight: 400; font-size: 1.5rem; margin: 0; font-family: 'sora';">
            Na rádio solidaria | 90.7FM
          </p>

          <p class="text-gradient-animate">Todos sábados 9h - 10h</p>
        </div>
      </div>
    </li>

    <!-- SLIDE 3 -->
    <li>
      <div class="uk-position-relative uk-height-1-1">
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/hero_3.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvaGVyb18zLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE3NTQ5LCJleHAiOjIxMDA2Nzc1NDl9.gAfpKirQdGY3MOuj6XP4voeogT2PdH-rlzFc56WhTuE" uk-img class="uk-visible@s" alt="hero 3 imagem 3" uk-cover>
        <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/slider-home/mobile-top-3.webp?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2Uvc2xpZGVyLWhvbWUvbW9iaWxlLXRvcC0zLndlYnAiLCJzY29wZSI6ImRvd25sb2FkIiwiaWF0IjoxNzg1MzE4Njk0LCJleHAiOjIxMDA2Nzg2OTR9.STE09q6MDlFKjKaMMK91TDsDK09KKu9wjPqozusGX3E" uk-img class="uk-hidden@s" style="object-position: center top;" uk-cover alt="hero mobile 3 imagem 3">
      </div>

      <div class="uk-container">
        <div class="uk-position-center-left uk-text-left uk-light text uk-padding-large conteudo">
          <h2 class="title" 
              style="font-weight: 200; margin-bottom: 0; font-size: 1.8rem; max-width: 550px; text-transform: uppercase; font-family: 'Joyride'; color: #272727;">
            <span style="font-family: 'joryde';">o</span>n<span style="font-family: 'joryde';">d</span>a <span style="font-family: 'joryde';">b</span>ran<span style="font-family: 'joryde';">c</span>a p<span style="font-family: 'joryde';">o</span>dca<span style="font-family: 'joryde';">s</span>t
          </h2>

          <p class="desc" 
             style="color: #8f51c9; font-weight: 400; font-size: 1.5rem; margin: 0; font-family: 'sora';">
            Podcast de saúde mental
          </p>

          <a href="" class="uk-button uk-button-default btn-spotify" 
             style="background-color: #1DB954; color: white; border-radius: 5px; margin-top: 20px;">
            Ouvir agora <span class="fab fa-spotify" style="font-size: 1rem;"></span>
          </a>
        </div>
      </div>
    </li>

  </ul>

  <!-- DOTNAV CORRETO -->
  <ul class="uk-dotnav uk-slideshow-nav uk-position-center-right uk-position-medium uk-flex uk-flex-column">
    <li uk-slideshow-item="0"><a href="#"></a></li>
    <li uk-slideshow-item="1"><a href="#"></a></li>
    <li uk-slideshow-item="2"><a href="#"></a></li>
  </ul>

</div>