<link rel="preload" as="image" href="/imagens/background.webp">
<link rel="preload" as="image" href="/imagens/background-homem.webp">
<link rel="preload" as="image" href="/imagens/mobile_1.webp">
<link rel="preload" as="image" href="/imagens/mobile_2.webp">

<div uk-slideshow="autoplay: true; infinite: true;" >
  <div class="uk-slideshow-items">
    <div>
      <div class="back">
        <div class="slide-content">
          <div class="uk-section uk-section-large">
            <div class="uk-container-expand uk-padding-large">
              <h1 class="uk-heading-medium uk-margin-remove" style="color: white; font-weight: 500; max-width: 750px;">Movimento pela saúde  <span class="uk-text-primary">mental</span>  e <span class="uk-text-primary">produtividade</span> <br> laboral</h1>
            <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-flex uk-flex-middle  uk-grid uk-margin-medium-top ">
            <div class="uk-width-expand@l">
              <p style="color: white; font-weight: 400; font-size: 22px; max-width: 650px;">Oferecemos programas de bem-estar, workshops e consultoria para equipes, transformando saúde mental em resultados reais.</p>
            </div>
            <div class="uk-width-auto@l uk-text-right desc" style="position: absolute; right: 100px;">
              <a [routerLink]="['/sobre']" class="uk-button uk-button-default" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 10px 15px 10px 15px; color: #006699; font-weight: 500;">Explorar programas</a>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="back-homem">
        <div class="slide-content">
          <div class="uk-section uk-section-large">
            <div class="uk-container uk-padding-large">
              <h1 class="uk-heading-medium uk-margin-remove" style="color: white; font-weight: 500; max-width: 850px;"><span class="uk-text-primary">Mentoria</span>, <span class="uk-text-primary">workshops</span> e <span class="uk-text-primary">programas</span> corporativos para equipes.</h1>
              <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-flex uk-flex-middle  uk-grid uk-margin-medium-top ">
            <div class="uk-width-expand@l">
              <p style="color: white; font-weight: 400; font-size: 22px; max-width: 650px;">Da mentoria para gestores à gestão de programas corporativos, oferecemos apoio personalizado para empresas e equipes</p>
            </div>
            <div class="uk-width-auto@l uk-text-right desc" style="position: absolute; right: 100px;">
              <a [routerLink]="['/sobre']" class="uk-button uk-button-default" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 10px 15px 10px 15px; color: #006699; font-weight: 500;">Agendar uma conversa</a>
            </div>
          </div>     
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>