<div class="uk-position-relative uk-visible-toggle uk-light" 
     uk-slideshow="autoplay: true; animation: fade; pause-on-hover: false; autoplay-interval: 2000; ratio: false">

  <!-- Slideshow fullscreen -->
  <div class="uk-slideshow-items" uk-height-viewport="offset-top: true">
    <div>
      <img data-src="imagens/desktop_1.webp" uk-img uk-cover alt="desktop_1">
    </div>
    <div>
      <img data-src="imagens/desktop_2.webp" uk-img uk-cover alt="desktop_2">
    </div>
    <div>
      <img data-src="imagens/desktop_3.webp" uk-img uk-cover alt="desktop_3">
    </div>
    <div>
      <img data-src="imagens/desktop_4.webp" uk-img uk-cover alt="desktop_4">
    </div>
    <div>
      <img data-src="imagens/desktop_5.webp" uk-img uk-cover alt="desktop_5">
    </div>
    <div>
      <img data-src="imagens/desktop_6.webp" uk-img uk-cover alt="desktop_6">
    </div>
  </div>

  <!-- Overlay -->
  <div class="uk-position-cover" style="background: rgba(0, 0, 0, 0.6);"></div>

  <!-- Texto central -->
  <div class="uk-position-center uk-text-center uk-light text uk-padding-large" style="bottom: 15%;">
    <h2 class="uk-heading-large" style="text-transform: uppercase; font-weight: 500; margin-bottom: 0;">Onda Branca</h2>
    <p class="uk-text-lead uk-text-large@m desc" style="color: white; font-weight: 500; font-size: 32px; margin-top: 0;">Movimento pela saúde mental e produtividade laboral</p>
    <div class="uk-flex conteudo uk-flex-between uk-flex-wrap uk-flex-center@s uk-margin-medium-top">
      <p class="desc_1" style="color: white; font-size: 18px; text-transform: uppercase; font-weight: 500; max-width: 750px; margin: 0 auto;">
        Programas de bem-estar, workshops, consultoria e podcast para fortalecer equipes e promover saúde mental
      </p>
      <div>
        <a href="" class="uk-button uk-button-default uk-margin-left" style="background-color: white; color: #0F62A5;">AGENDAR UMA CONVERSA</a>
      </div>
    </div>
  </div>
</div>

