.back, .back-homem{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.slide-content{
    display: flex;
    align-items: flex-end; /* desktop: centralizado */
    min-height: 100vh;
}

.back{
    background-image: url("/imagens/background.webp");
}

.back-homem{
    background-image: url("/imagens/background-homem.webp");
}

h1, h2{
  font-family: "Archivo" !important;
}

.uk-slideshow,
.uk-slideshow-items,
.uk-slideshow-items > div {
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media (max-width: 750px) {    
    .back{
        background-image: url("/imagens/mobile_1.webp");
    }
    .back-homem{
        background-image: url("/imagens/mobile_2.webp");
        
    }
    h1{
        font-size: 35px !important;
    }
    p{
        font-size: 19px !important;
    }
}

@media (max-width: 1024px) {
    .back{
        background-image: url("/imagens/mobile_1.webp");
    }
    .back-homem{
        background-image: url("/imagens/mobile_2.webp");
        
    }
    h1{
        font-size: 35px !important;
    }
    p{
        font-size: 19px !important;
    }
    .desc  {
    position: static !important;   /* tira o absolute */
    text-align: left !important;   /* ajusta alinhamento */
    margin-top: 20px;              /* espaço embaixo do texto */
  }

  .desc a.uk-button {
    display: inline-block;         /* mantém estilo de botão */
    width: auto;                   /* largura automática */
  }
}

.uk-button {
  text-transform: lowercase;   /* força tudo em minúsculas */
}

.uk-button::first-letter {
  text-transform: uppercase;   /* só a primeira letra da frase em maiúscula */
}