<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/palestra_1.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Gestão do Stress<span class="linha"></span></span>
            <span class="uk-text-light"> <span style="font-size: 35px; font-weight: bold;"> Equilíbrio para Viver e <span class="uk-text-primary">Trabalhar Melhor</span></span> </span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
           O stress é uma das principais causas de desgaste emocional e queda de performance no ambiente laboral. Saber reconhecê-lo e geri-lo é essencial para manter o equilíbrio.
          </p>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Nos nossos workshops, os participantes aprendem a:</h3>
          <ul class="uk-list uk-list-square" style="color: #212121; font-size: 16px;">
            <li>Identificar sinais físicos e emocionais de sobrecarga.</li>
            <li>Aplicar técnicas práticas para reduzir tensões imediatas.</li>
            <li>Reorganizar prioridades e gerir tempo de forma eficaz.</li>
            <li>Desenvolver resiliência, transformando desafios em oportunidades de crescimento.</li>
          </ul>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Resultado: </strong> equipas mais focadas, motivadas e preparadas para enfrentar pressões do dia a dia.</p>
        </div>
      </div>
    </div>
  </div>
</div>