<div class="uk-section uk-section-large" style="background-color: #F1F6FB; padding-top: 200px; position: relative; z-index: 2; padding-bottom: 0;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@xm uk-child-width-1-2@s uk-grid">
            <div>
                <h2 uk-sticky="offset: 100; bottom: true;" class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Métricas <span class="linha"></span></span>
            <span class="uk-text-light"> Resultados que comprovam o impacto: mais<span class="destaque uk-text-primary" style="font-size: 35px; font-weight: bold;"> experiências, mais formações, mais conteúdos</span></span>
          </h2>
            </div>
            <div>
        <!-- Métricas -->
        <div uk-scrollspy="cls: uk-animation-slide-bottom; target: .metric; delay: 400;">
            <!-- Destaque ANOS -->
            <div class="metric destaque" style="margin-top: 20px;">
                <span class="gradient-number big">1</span>
                <h3 style="margin: 0 !important; font-size: 22px; color: #212121;">Ano de experiência</h3>
            </div>
            <!-- Restante -->
            <div class="uk-child-width-1-2@l uk-padding-medium uk-child-width-1-2@m uk-flex uk-child-width-1-2@s uk-grid">
                <div class="metric destaque">
                    <span class="gradient-number">12+</span>
                    <h4 style="margin: 0 !important; font-size: 16px; color: #212121;">Treinamentos realizados</h4>
                </div>
                <div class="metric destaque">
                    <span class="gradient-number">500m+</span>
                    <h4 style="margin: 0 !important; font-size: 16px; color: #212121;">Horas de Podcasts Ouvidos</h4>
                </div>
                <div class="metric destaque">
                    <span class="gradient-number">72%</span>
                    <h4 style="margin: 0 !important; font-size: 16px; color: #212121;">Taxa de satisfação</h4>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>