<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<div class="uk-section uk-section-large" style="background-color: #F1F6FB; padding-top: 200px; padding-bottom: 200px; position: relative; z-index: 2;">
    <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-flex uk-flex-middle uk-child-width-1-1@s uk-grid">
        <div>
            <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Comunidade <span class="linha"></span></span>
            
            <span class="uk-text-light"> Um espaço criado para<span class="destaque uk-text-primary" style="font-size: 35px; font-weight: bold;"> unir pessoas, partilhar experiências e fortalecer conexões</span></span>
          </h2>
            <p uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400" style="color: #2d2d2d; font-size: 18px; ">Mais do que um espaço digital, a nossa comunidade é um ponto de encontro para quem acredita em crescimento, bem-estar e partilha.
            </p>
            <p uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400" style="color: #2d2d2d; font-size: 18px; ;">Aqui, cada membro tem a oportunidade de:</p>
            <ul class="uk-list">
                <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400" style="color: #2d2d2d; font-size: 18px; ">Conectar-se com pessoas que partilham os mesmos desafios e objetivos.</li>
                <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400" style="color: #2d2d2d; font-size: 18px; ">Acessar conteúdos e conversas exclusivas, sempre voltados para desenvolvimento pessoal e profissional</li>
            </ul>
            <a uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400" href="" class="uk-button uk-button-default" style="background-color: #006699; color: white; font-weight: 500;font-size: 18px; border-radius: 5px; padding: 10px 15px 10px 15px; text-transform: capitalize;">Entrar na Comunidade</a>
        </div>
        <div uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <div uk-slider>
                <div class="uk-slider-container uk-padding">
                    <div class="uk-slider-items uk-child-width-1-2@l uk-child-width-1-2@s">
                        <div class="uk-margin-small-right">
                            <img  data-src="imagens/comunidade.webp" uk-img alt="">
                        </div>
                        <div class="uk-margin-small-right">
                            <img  data-src="imagens/comuni.webp" uk-img alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>