<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Perguntas Frequentes <span class="linha"></span></span>
            <span class="uk-text-light"> <span class="destaque" style="font-size: 35px; font-weight: bold;"> Encontre aqui respostas rápidas para as <span class="uk-text-primary">dúvidas</span> mais comuns</span></span>
        </h2>
        <div uk-accordion class="uk-margin-medium-top uk-padding" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
        <li>
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;"  href="">Quem pode participar da comunidade?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Qualquer pessoa que respeite os valores da comunidade e esteja disposta a contribuir de forma positiva e colaborativa.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title"  style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;"  href="">Como garantimos a confidencialidade?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">O que é partilhado na comunidade permanece nela. Incentivamos todos os membros a respeitarem a privacidade dos outros e não divulgarem informações fora do grupo.</p>
            </div>
        </li>

        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">O que me faço sentir desconfortável com alguma interação ?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Pode entrar em contato com os moderadores ou responsáveis ​​pela comunidade. Levamos a sério qualquer situação que comprometa o bem-estar dos membros.</p>
            </div>
        </li>
        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">Posso compartilhar conteúdo pessoal ou sensível?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Sim, desde que se sinta seguro e confiante. A comunidade valoriza o cuidado coletivo e o respeito mútuo. No entanto, recomendamos cautela e bom senso.</p>
            </div>
        </li>
        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">Como lidamos com opiniões divergentes?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Com empatia e abertura. Valorizamos a diversidade de perspectivas e incentivamos o diálogo respeitoso.</p>
            </div>
        </li>
        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">Há regras de conduta?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Sim. Espera-se que todos os membros ajam com respeito, responsabilidade e colaboração. Atitudes discriminatórias, ofensivas ou abusivas não são toleradas.</p>
            </div>
        </li>
        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">Como posso contribuir mais ativamente?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Participando das conversas, apoiando outros membros, realizando atividades e respeitando os valores da comunidade.</p>
            </div>
        </li>
        <li >
            <a class="uk-accordion-title" style="color: #212121; font-family: 'Archivo'; font-weight: bold; border-bottom: 1px solid #21212167; padding-bottom: 20px;" href="">A comunidade tem encontros presenciais ou eventos online?</a>
            <div class="uk-accordion-content">
                <p style="color: #212121;">Sim, ocasionalmente organizamos encontros, rodas de conversa ou atividades. Fique atento aos anúncios em nossos canais de comunicação.</p>
            </div>
        </li>
    </div>
    </div>
</div>
