<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
    <div class="uk-container">
      <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Mentoria em Liderança Moderna <span class="linha"></span></span>
            <span class="uk-text-light">Nosso programa foi criado para apoiar <span class="detaque" style="font-weight: bold; font-size: 35px;" ><span class="uk-text-primary">gestores</span> nos desafios da liderança moderna</span>, oferecendo diferenciais únicos para suas necessidades reais</span>
        </h2>
        <div class="uk-child-width-1-3@l uk-grid uk-grid-large uk-grid-stacked uk-grid-collapse uk-margin-medium-top" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #094268;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Ferramentas práticas para o dia a dia</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';"> Conteúdo prático com técnicas aplicáveis no dia a dia para mais equilíbrio e eficácia.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img data-src="imagens/ferramentas-para-gestores.webp" uk-img alt="">
                </div>
            </div>
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #00aaff;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Sessões personalizadas com especialistas</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';">Cada participante tem acesso a encontros individuais com profissionais experientes em saúde mental e liderança, garantindo uma abordagem adaptada ao seu contexto e estilo de gestão.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img src="imagens/sessoes-com-especialista.webp" alt="">
                </div>
            </div>
            <div class="uk-card">
                <div class="uk-card uk-card-body uk-card-default" style="background-color: #c467bf;">
                    <h1 class="uk-card-title" style="font-family: 'Archivo'; color: white;">Espaço seguro para troca de experiências</h1>
                    <p style="font-size: 16px; color: white; font-family: 'Archivo';">Ambiente acolhedor para líderes trocarem experiências e criarem rede de apoio com empatia e confiança.</p>
                </div>
                <div class="uk-card uk-card-media">
                    <img data-src="imagens/espaco-para-troncar-experiencia.webp" uk-img alt="">
                </div>
            </div>
        </div>
    </div>
</div>