<div class="uk-container" style="background-color: #F1F6FB;">
  <div class="uk-card uk-card-body uk-card-default" style="background-color: #F1F6FB;">
    <div class="uk-child-width-1-2@l uk-grid uk-grid-divider">
      <div uk-scrollspy="cls: uk-animation-slide-bottom; delay:400">
        <p style="font-size: 16px; color: #000;">Somos uma iniciativa nascida em Angola, com sede em Luanda, dedicada a promover o bem-estar mental e a produtividade. Estamos comprometidos em liderar uma nova forma de encarar a saúde mental, impulsionada pela inovação, inclusão e impacto social.</p>
        <p style="font-size: 16px; color: #000;">O nosso propósito é oferecer soluções abrangentes, desde programas de autocuidado e desenvolvimento pessoal até ferramentas digitais que apoiam comunidades e organizações na construção de ambientes mais saudáveis e produtivos. Atuamos tanto no mercado local como internacional, exportando conhecimento e partilhando práticas que unem tecnologia, ciência e humanidade</p>
        <p style="font-size: 16px; color: #000;">Valorizamos o desenvolvimento integral das pessoas e comunidades, trabalhando com entusiasmo para impulsionar o crescimento humano em Angola e em todo o continente africano. Comprometemo-nos a ser uma catalisadora de mudança positiva, promovendo equilíbrio, resiliência e prosperidade sustentável.</p>
      </div>
      <div uk-scrollspy="cls: uk-animation-slide-bottom; delay:600">
        <p style="font-size: 16px; color: #000;">A nossa equipa é composta por profissionais e parceiros comprometidos com o bem-estar integral, reunindo conhecimento multidisciplinar para responder aos desafios que afetam pessoas, comunidades e organizações.</p>
        <p style="font-size: 16px; color: #000;">Trabalhamos lado a lado com indivíduos e instituições, desde a escuta e diagnóstico até à implementação de soluções práticas, para garantir que cada ação responda às necessidades específicas de quem nos procura.</p>
        <blockquote>
          “Acreditamos que a verdadeira inovação nasce quando o cuidado com a mente se alia ao valor humano e ao impacto social.”
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="uk-container" style="background-color: #F1F6FB; padding-top: 200px; padding-bottom: 200px;">
  <div class="uk-child-width-1-2@l uk-grid">
    <div>
      <div>
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Historia <span class="linha"></span></span>
            <span class="uk-text-light"> Cuidar da <span class="uk-text-primary destaque" style="font-size: 35px; font-weight: bold;">saúde mental</span> e ao mesmo tempo impulsionar a <span class="uk-text-primary destaque" style="font-size: 35px; font-weight: bold;">produtividade</span></span>
          </h2>
        </div>
    </div>
    <div>

    </div>
  </div>

  <div uk-slider="finite: true">
        <div class="uk-margin-small-bottom">
            <div uk-scrollspy="cls: uk-animation-slide-left; delay:900">
                <a href uk-slider-item="previous"  style="margin-right: 10px; display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 10px; background: #f4fbff00; border: 1px solid rgba(255, 255, 255, 0.479);">
                <span uk-icon="icon: chevron-left; ratio: 1.8" style="color: rgba(255, 255, 255, 0.479);"></span>
                </a>
                <a href uk-slider-item="next"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 10px; background: #f4fbff00; border: 1px solid rgba(255, 255, 255, 0.479);">
                <span uk-icon="icon: chevron-right; ratio: 1.8" style="color: rgba(255, 255, 255, 0.479);"></span>
                </a>
            </div>
        </div>
        <div class="uk-slider-container">
            <div class="uk-slider-items uk-child-width-1-3@l uk-grid uk-grid-collapse uk-grid-match" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
                <div class="uk-card" >
                    <div class="uk-card uk-card-body">
                        <h3 style="font-size: 32px; color: #212121; font-weight: 500; margin: 0;">2025<br>Fundação da empresas</h3>
                        <p style="font-size: 16px; color: #212121;">Nasceu em Angola com o propósito de responder a uma necessidade urgente: cuidar da saúde mental e promover a produtividade de forma equilibrada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>