.uk-icon-button.icon-branca:hover {
    background-color: #9A74A1 !important;
}

.uk-icon-button.icon-branca {
  background-color: #094268 !important;
  color: white !important;
}

.slogan{
  text-transform: lowercase;
}
.slogan::first-letter{
  text-transform: uppercase;
}