<div class="uk-section uk-section-medium" style="background-color: #04165D; padding-bottom: 0;">
  <div class="uk-container">
    <footer>
      <div class="uk-child-width-1-4@l uk-grid">
        <div>
          <img uk-img width="120" data-src="imagens/logo_footer.webp" alt="">
          <p class="slogan" style="color: white; font-size: 14px; margin: 0; font-size: 13px; color: white; opacity: 0.5; margin-top: 10px;">
            é uma empresa angolana dedicada à saúde mental, produtividade e inovação social, oferecendo soluções digitais e programas de apoio que promovem o bem-estar e o desenvolvimento humano em Angola e na África lusófona.
          </p>
          <h2 style="font-size: 12px; color: white; opacity: 0.5; font-family: 'Archivo'; font-weight: bold;">Quem Somos</h2>
          <ul class="uk-nav uk-nav-default">
            <li><a href=""  style="color: white; font-size: 13px;">Sobre a onda branca</a></li>
            <li><a href="" style="color: white; font-size: 13px;">Missão, Visão e Valores</a></li>
          </ul>
          <p style="color: white; font-size: 13px;">Av. Comandante Gika, Luanda, Angola</p>
          <p style="color: white; font-size: 13px;"><a style="color: white;" href="">+244 922 222 222</a></p>
          <p style="color: white; font-size: 13px;"><a style="color: white;" href="">contacto&#64;ondabranca.ao</a></p>
          <div class="uk-flex uk-flex-middle uk-flex-around">
            <a href="https://facebook.com/seu_perfil" target="_blank" rel="noopener" class="uk-margin-small-right" style="color: white;"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/seu_perfil" target="_blank" rel="noopener" class="uk-margin-small-right" style="color: white;"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com/seu_perfil" target="_blank" rel="noopener" class="uk-margin-small-right" style="color: white;"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div>
          <h2 style="font-size: 12px; color: white; opacity: 0.5; font-family: 'Archivo'; font-weight: bold;">Servico</h2>
          <ul class="uk-nav uk-nav-default">
            <li><a style="color: white; font-size: 13px;" href="">Mentoria de saúde mental para gestores</a></li>
            <li><a style="color: white; font-size: 13px;" href="">Atendimento a empresa</a></li>
            <li><a style="color: white; font-size: 13px;" href="">Gestão de programa de saúde mental para empresas</a></li>
            <li><a style="color: white; font-size: 13px;" href="">Renda Extra</a></li>
            <li><a style="color: white; font-size: 13px;" href="">O programa de ginástica laboral</a></li>
            <li><a style="color: white; font-size: 13px;" href="">Palestras e workshops</a></li>
            <li><a style="color: white; font-size: 13px;" href="">Programa de saúde mental do trabalho</a></li>
          </ul>
        </div>
        <div>
          <h2 style="font-size: 12px; color: white; opacity: 0.5; font-family: 'Archivo'; font-weight: bold;">On air</h2>
        </div>
      </div>
    </footer>
  </div>
</div>
<div class="uk-section uk-section-medium" style="background-color: #04165D; padding-bottom: 20px;">
  <hr style="color: white; opacity: 0.5;">
  <div class="uk-container">
    <div class="uk-text-left uk-text-small uk-grid uk-grid-small uk-grid-divider" style="color: white; opacity: 0.5;">
      <div>
        <p style="font-size: 12px;">Copyright © {{ currentYear }}</p>
      </div>
      <div>
        <p style="font-size: 12px;">Onda Branca – Saúde Mental, Produtividade e Comunidade. Todos os direitos reservados.</p>
      </div>
      <div>
        <p><a style="color: white; opacity: 0.9; text-decoration: underline; font-size: 12px;" [routerLink]="['/politica-de-privacidade']">Política de Privacidade</a></p>
      </div>
      <div>
        <p><a style="color: white; opacity: 0.9; text-decoration: underline; font-size: 12px;" [routerLink]="['/termo-de-uso']">Termos de uso</a></p>
      </div>
      <div>
        <p><a style="color: white; opacity: 0.9; text-decoration: underline;font-size: 12px;" href="">Política da Qualidade</a></p>
      </div>
    </div>
  </div>
</div>
