<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-cover-container uk-border-rounded" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
          <img src="imagens/home/radio-solidario.png" alt="Rádio Solidária" uk-cover>
          <canvas width="480" height="400"></canvas> <!-- Define a proporção -->
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Rádio<span class="linha"></span></span>
            <span class="uk-text-light"> <span class="destaque "  style="font-size: 35px; font-weight: bold;"> Estamos no Rádio Solidária, no <span class="uk-text-primary">programa Onda todos os sábados das <span style="font-style: italic; text-decoration: underline;">9h às 10h</span></span>, levando conteúdos de saúde mental e bem-estar para a comunidade.</span> </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>