<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/palestra_2.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Prevenção e Controlo da Depressão e Ansiedade<span class="linha"></span></span>
            <span class="uk-text-light"> <span class="destaque" style="font-size: 35px; font-weight: bold;"> Mais Consciência, <span class="uk-text-primary">Menos Riscos</span></span> </span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
           Depressão e ansiedade estão entre os maiores desafios de saúde mental da atualidade, com impacto direto no desempenho e no bem-estar de profissionais.
          </p>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">Este módulo oferece:</h3>
          <ul class="uk-list uk-list-square" style="color: #212121; font-size: 16px;">
            <li>Estratégias de prevenção baseadas em boas práticas internacionais.</li>
            <li>Orientação para identificar sinais de alerta em si mesmo e nos colegas.</li>
            <li>Técnicas para lidar com sintomas no dia a dia, reduzindo riscos de agravamento.</li>
            <li>Recursos de apoio que fortalecem o cuidado contínuo com a saúde mental.</li>
          </ul>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Resultado: </strong> colaboradores mais conscientes, apoiados e com ferramentas para manter a estabilidade emocional.</p>
        </div>
      </div>
    </div>
  </div>
</div>