<div id="missao" class="uk-section uk-section-large uk-padding-remove" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="missao-section">
  <h1 class="missao-title">missão</h1>
  <p class="missao-text">
    Promover saúde mental e bem-estar, ajudando pessoas e comunidades a viverem com equilíbrio, propósito e produtividade. 
    Acreditamos que cuidar da mente é essencial para transformar vidas, fortalecer relações e impulsionar um futuro mais humano 
    e sustentável para Angola e para o mundo.
  </p>
</div>
  </div>
</div>
