<div class="uk-section uk-section-large uk-padding-remove-bottom back" style="background-color: #F1F6FB;">
    <div class="uk-container">
            <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">O que entregamos <span class="linha"></span></span>
            <span class="uk-text-light">Ao investir em saúde mental <span class="destaque" style="font-weight: bold; font-size: 35px;">corporativa, a sua organização <span class="uk-text-primary">ganha em bem-estar e desempenho</span></span>. Entre os principais benefícios estão</span>
          </h2>
                
        <div uk-slider="finite: true;" class="uk-margin-medium-top">
        <div class="uk-slider-container "  uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <div class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@s uk-child-width-1-1@s uk-grid uk-grid-collapse custom-slider">
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: #00aaff;">
                        <h3 style="font-size: 22px; color: white; font-weight: 500;">Redução do Stress e Ansiedade no Trabalho</h3>
                        <p style="color: white;">Redução significativa do stress e da ansiedade no ambiente de trabalho, criando um espaço mais saudável.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img data-src="imagens/antendimento-beneficio-1.webp" style="width:100%;" alt="Mentoria de saúde mental para gestores no ambiente de trabalho" uk-img>
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: #094268;">
                        <h3 style="font-size: 22px; color: white; font-weight: 500;">Aumento da Produtividade e Motivação</h3>
                        <p style="color: white;">Aumento da produtividade, com equipas mais motivadas e focadas nos resultados.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img data-src="imagens/antendimento-beneficio-2.webp"  style="width:100%;" alt="Atendimento empresarial com programas de saúde mental para equipes" uk-img>
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: #00aaff;">
                        <h3 style="font-size: 22px; color: white; font-weight: 500;">Melhoria do Clima Organizacional</h3>
                        <p style="color: white; font-size: 16px;">Melhoria do clima organizacional, promovendo relações mais positivas e colaborativas.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img uk-img data-src="imagens/antendimento-beneficio-3.webp" style="width:100%;" alt="Gestão de programas de saúde mental personalizados para empresas">
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: #c467bf;">
                        <h3 style="font-size: 22px; color: white; font-weight: 500;">Redução da Rotatividade de Colaboradores</h3>
                        <p style="color: white; font-size: 16px;">Diminuição da rotatividade de colaboradores, reduzindo custos e garantindo maior estabilidade</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img  uk-img data-src="imagens/antendimento-beneficio-4.webp" style="width:100%;" alt="Programa de renda extra com foco em bem-estar e produtividade">
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: #005d9c;">
                        <h3 style="font-size: 22px; color: white; font-weight: 500;">Equipa Engajada e Resiliente</h3>
                        <p style="color: white; font-size: 16px;">Formação de equipas mais engajadas e resilientes, capazes de enfrentar desafios com equilíbrio e confiança.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img uk-img data-src="imagens/antendimento-beneficio-5.webp" style="width:100%;" alt="Programa de ginástica laboral com exercícios para saúde física e mental no trabalho">
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin-small-bottom uk-margin-small-top uk-width-auto">
            <div uk-scrollspy="cls: uk-animation-slide-left; delay:900">
                <a href uk-slider-item="previous"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #094268">
                <span uk-icon="icon: chevron-left; ratio: 1.8" style="color: #094268;"></span>
                </a>
                <a href uk-slider-item="next"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #094268;">
                <span uk-icon="icon: chevron-right; ratio: 1.8" style="color: #094268"></span>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>