<div>
  <div class="uk-container efeito-cantos zoom-container" style="background-color: #c467bf; overflow: hidden; position: relative; z-index: 2;">
    <div class="circulo topo"></div>
    <div class="circulo baixo"></div>
    <div class="uk-child-width-1-2@l uk-grid uk-flex uk-flex-middle">
      <div class="uk-width-expand" style="position: relative;">
        <h1 class="uk-margin-remove titulo-metricas" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400;">
          <span class="titulo-principal">Contactos <span class="linha"></span></span><span class="subtitulo">Cuide da mente, fortaleça a liderança.<span style="color: white; font-weight: bold;"> Conecte-se com uma comunidade que transforma bem-estar em produtividade</span></span>
        </h1>
         <a href="" class="uk-button uk-margin-large-top uk-hidden@m" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 8px 15px 8px 15px; color: #006699; font-weight: 500;">Entre em contacto</a>
      </div>
      <div class="uk-width-auto uk-flex-middle" style="padding-top: 50px; overflow: hidden; position: relative;">
          <img src="imagens/contacto-gestores.webp" width="400"  alt="" class="zoom-hover uk-visible@l">  
          <div style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); z-index: 10;">
            <a href="" class="uk-button uk-visible@l uk-button-default" style="background-color: white; border-radius: 5px; font-size: 18px; padding: 10px 15px 10px 15px; color: #006699; font-weight: 500;">Garantir a vaga</a>
          </div>
      </div>
    </div>
  </div>
</div>