<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/renda_extra_5.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Como o Programa Acontece <span class="linha"></span></span>
            <span class="uk-text-light"> Um processo simples para criar renda extra com <span class="destaque" style="font-size: 35px; font-weight: bold;">equilíbrio e <span class="uk-text-primary">resultados sustentáveis</span></span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            O Programa de Renda Extra é <strong>anual</strong> foi criado para guiar você, combinando clareza, organização e equilíbrio. A ideia não é apenas aumentar os ganhos, mas também ajudar a manter o foco no bem-estar e na qualidade de vida.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">Ao longo do programa, você terá acesso a métodos que foram pensados para se encaixar em diferentes rotinas, independentemente do seu ponto de partida. O que realmente importa é dar o primeiro passo e ter um plano estruturado para seguir com confiança.</p>
          <ul class="uk-list uk-list-square" style="font-size: 16px; color: #212121;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Diagnóstico Pessoal: </strong> Identificação da sua rotina, interesses e potencial para descobrir oportunidades de renda extra que façam sentido para você.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1100"><strong>Plano de Ação: </strong> Definição de um roteiro simples e objetivo para começar com segurança e clareza.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200"><strong>Execução Orientada: </strong> Acompanhamento com práticas de produtividade que ajudam a manter o foco e colocar o plano em prática.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200"><strong>Avaliação Contínua: </strong> Revisão de estratégias e suporte constante para garantir resultados consistentes ao longo do tempo.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>