<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Empresas <span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-size: 35px; font-weight: bold;"> Com clientes e parceiros, <span class="uk-text-primary">promovemos soluções que transformam o ambiente de trabalho</span></span></span>
        </h2>
    </div>
    <div class="uk-margin-medium-top hr-custom uk-padding">
        <div uk-slider="autoplay: true; autoplay-interval: 2000;">
                <div class="uk-slider-items uk-grid uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-4@xm uk-child-width-1-4@l uk-grid-small uk-flex-middle">
                    <div class="uk-flex uk-flex-center">
                        <img loading="eager" data-src="imagens/parcerio-incliente/radio-solidario-logo.webp" alt="Empresa 1" uk-img style="max-height: 80px;">
                    </div>
                    <div class="uk-flex uk-flex-center">
                        <img loading="eager" data-src="imagens/parcerio-incliente/unitel-logo.webp" alt="Empresa 1" uk-img style="max-height: 80px;">
                    </div>
                    <div class="uk-flex uk-flex-center">
                        <img loading="eager" data-src="imagens/parcerio-incliente/global-seguro-logo.webp" uk-img  alt="Empresa 2" style="max-height: 80px;">
                    </div>
                    <div class="uk-flex uk-flex-center">
                        <img loading="eager" data-src="imagens/parcerio-incliente/griner-logo.webp" uk-img alt="Empresa 3" style="max-height: 80px;">
                    </div>
                    <div class="uk-flex uk-flex-center">
                        <img  loading="eager"data-src="imagens/parcerio-incliente/intm-logo.webp" uk-img alt="Empresa 4" style="max-height: 80px;">
                    </div>
                    <div class="uk-flex uk-flex-center">
                        <img loading="eager" data-src="imagens/parcerio-incliente/instituto-nacional-de-saude-logo.webp" uk-img alt="Empresa 5" style="max-height: 80px;">
                    </div>
                </div>
    </div>
</div>