<div class="uk-section " style="background-color: #fff;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 00">
            <span class="titulo-principal">Instituições e empresas <span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-size: 35px; font-weight: bold;"> Empresas e instituições, <span class="uk-text-primary">que confiam no nossos trabalho</span></span></span>
        </h2>
        <div class="uk-hidden@s" uk-slider="autoplay:true">
            <div class="uk-slider-items uk-align-center uk-text-center uk-child-width-1-2">
                <div>
                    <img src="imagens/logo/imagem-2.svg" alt="">
                </div>
                <div>
                    <img src="imagens/logo/imagem-4.svg" alt="">
                </div>
   
                <div>
                    <img src="imagens/logo/imagem-7.svg" alt="">
                </div>
                <div>
                    <img src="imagens/logo/imagem-3.svg" alt="">
                </div>
                <div>
                    <img src="imagens/logo/imagem-6.svg" alt="">
                </div>
                <div>
                    <img src="imagens/logo/imagem-1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="uk-visible@s uk-child-width-1-6@l uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 100">
            <img src="imagens/logo/imagem-2.svg" alt="">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 400">
            <img src="imagens/logo/imagem-4.svg" alt="">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 500">
            <img src="imagens/logo/imagem-7.svg" alt="">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 300">
            <img src="imagens/logo/imagem-3.svg" alt="">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 600">
            <img src="imagens/logo/imagem-6.svg" alt="">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 700">
            <img src="imagens/logo/imagem-1.svg" alt="">
        </div>
    </div>
    </div>
</div>