<div class="uk-section " style="background-color: #fff;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'sora';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 00">
            <span class="titulo-principal">Instituições e empresas <span class="linha"></span></span>
            <span class="uk-text-light"><span class="destaque" style="font-size: 35px; font-weight: bold;"> Empresas e instituições, <span class="uk-text-primary">que confiam no nossos trabalho</span></span></span>
        </h2>
        
        <div class="uk-hidden@s" uk-slider="autoplay:true">
            <div class="uk-slider-container">
                <div class="uk-slider-items uk-align-center uk-text-center uk-child-width-1-2">
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-2.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTIuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMyOTY2NywiZXhwIjoyMTAwNjg5NjY3fQ.3x20BnMiBv7ULjn8-aB4TdT--Hy-CHSsEzDHUdKVcnw" uk-img alt="Logo da empresa Griner">
                </div>
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-4.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTQuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDMwOSwiZXhwIjoyMTAwNjkwMzA5fQ.nlYDH7n5FV8LHxy07LRtWWRZI9bIaVg-is9lzPJuWQc" uk-img alt="Logo da empresa Itm">
                </div>
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-7.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTcuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDQyNCwiZXhwIjoyMTAwNjkwNDI0fQ.jK6lVbAaMn_rj1nC9FIpqSbzfZVLYdGRU4dI7KiNunY" uk-img alt="Logo da empresa Global Seguros">
                </div>
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-3.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTMuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDUyMiwiZXhwIjoyMTAwNjkwNTIyfQ.izzHSwqewkK40WYns9CNNV46oN-y9lma5pLq2cyt0WQ" uk-img alt="Logo da empresa INEMA">
                </div>
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-6.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTYuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDY0MywiZXhwIjoyMTAwNjkwNjQzfQ.KHRBJzSTCRU1Sh8GqawWc4D94KF3DilIXBXe_0YBMmc" uk-img alt="Logo da empresa Etus Energia">
                </div>
                <div>
                    <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-1.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTEuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDc0MiwiZXhwIjoyMTAwNjkwNzQyfQ.Z_xhdIZTOIKKe4TAktdgnvXkjp3nlEndMEsZ_NixZxM" uk-img alt="Logo da empresa Radio solidaria">
                </div>
            </div>
            </div>
            
        </div>
        
        <div class="uk-visible@s uk-child-width-1-6@l uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 100">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-2.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTIuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMyOTY2NywiZXhwIjoyMTAwNjg5NjY3fQ.3x20BnMiBv7ULjn8-aB4TdT--Hy-CHSsEzDHUdKVcnw" uk-img alt="Logo da empresa Griner">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 400">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-4.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTQuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDMwOSwiZXhwIjoyMTAwNjkwMzA5fQ.nlYDH7n5FV8LHxy07LRtWWRZI9bIaVg-is9lzPJuWQc" uk-img alt="Logo da empresa Itm">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 500">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-7.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTcuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDQyNCwiZXhwIjoyMTAwNjkwNDI0fQ.jK6lVbAaMn_rj1nC9FIpqSbzfZVLYdGRU4dI7KiNunY" uk-img alt="Logo da empresa Global Seguros">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 300">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-3.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTMuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDUyMiwiZXhwIjoyMTAwNjkwNTIyfQ.izzHSwqewkK40WYns9CNNV46oN-y9lma5pLq2cyt0WQ" uk-img alt="Logo da empresa INEMA">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 600">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-6.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTYuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDY0MywiZXhwIjoyMTAwNjkwNjQzfQ.KHRBJzSTCRU1Sh8GqawWc4D94KF3DilIXBXe_0YBMmc" uk-img alt="Logo da empresa Etus Energia">
        </div>
        <div class="reveal-fade card" uk-scrollspy="cls: reveal-active; delay: 700">
            <img data-src="https://wxopwlmdtfupztzdmtzb.supabase.co/storage/v1/object/sign/GestDremasImage/logos/imagem-1.svg?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9iYzM3Zjg5Ny05YzgwLTRiYzctYjZlZS0yMjEwMGQ3Mzk0YTkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJHZXN0RHJlbWFzSW1hZ2UvbG9nb3MvaW1hZ2VtLTEuc3ZnIiwic2NvcGUiOiJkb3dubG9hZCIsImlhdCI6MTc4NTMzMDc0MiwiZXhwIjoyMTAwNjkwNzQyfQ.Z_xhdIZTOIKKe4TAktdgnvXkjp3nlEndMEsZ_NixZxM" uk-img alt="Logo da empresa Radio solidaria">
        </div>
    </div>
    </div>
</div>