.hr-custom{
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-image: radial-gradient(circle 562px at center, #007dbb, #F1F6FB) 1;
  border-image-slice: 1;
  text-align: center;
}



.titulo-principal {
  font-size: 16px;
  color: #094268;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.titulo-principal .linha {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 3px;
  background: linear-gradient(90deg, #00aaff, #0d5a90);
  display: block;
  animation: grow 2s infinite alternate;
}

.titulo-metricas{
  max-width: 750px;
}

@keyframes growMobile {
  from { width: 0; }
  to { width: 25%; }
}

@keyframes grow {
    from { width: 20%; }
    to { width: 80%; }
}

@media (max-width:768px) {
  .hr-custom {
    border-image: radial-gradient(circle 200px at center, #007dbb, #F1F6FB) 1; /* gradiente menor */
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  .titulo-principal{
    display: block;
  }
  h2, .destaque{
    font-size: 1.6rem !important;
  }

  .titulo-principal .linha{
    width: 25%;
    animation: growMobile 2s infinite alternate;
  }
  .titulo-metricas{
    max-width: 100%;
  }
}