<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
    <div class="uk-container">
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Como Atuamos <span class="linha"></span></span>
            <span class="uk-text-light">Uma metodologia <span class="destaque" style="font-weight: bold; font-size: 35px;">prática e humana para transformar a <span class="uk-text-primary">saúde mental da sua empresa</span> em resultados sustentáveis</span></span>
          </h2>
        <div class="flex-container-mobile uk-child-width-1-1@l uk-child-width-1-1@s uk-grid uk-grid-small uk-grid-collapse uk-grid-match uk-margin-medium-top" uk-grid>

  <div >
    <div class="uk-child-width-1-6@l uk-child-width-1-6@s uk-grid uk-grid-small uk-grid-collapse">
      <!-- 1 Diagnóstico inicial -->
  <div>
    <div class="uk-card" style="background-color: #00aeff; display: flex; flex-direction: column; height: 100%; overflow: hidden;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
      <div style="padding: 20px; flex-grow: 1;">
        <h2 class="uk-card-title" style="font-size: 18px; color: white; margin-bottom: 5px; font-weight: bold; font-family: 'Archivo';">1 <br>Diagnóstico inicial</h2>
        <p style="font-size: 15px; color: white; margin: 0;">Analisamos a realidade e os principais desafios da sua equipa.</p>
      </div>
      <div class="uk-card-media" style="margin-top: auto;">
        <img data-src="imagens/metodologia_1.webp" style="width: 100%;" uk-img alt="Diagnóstico inicial de saúde mental empresarial">
      </div>
    </div>
  </div>

  <!-- 2 Plano personalizado -->
  <div>
    <div class="uk-card" style="background-color: #0e9ddf; display: flex; flex-direction: column; height: 100%; overflow: hidden;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
      <div style="padding: 20px; flex-grow: 1;">
        <h2 class="uk-card-title" style="font-size: 18px; color: white; margin-bottom: 5px; font-family: 'Archivo'; font-weight: bold;">2 <br> Plano personalizado</h2>
        <p style="font-size: 15px; color: white; margin: 0;">Desenhamos soluções ajustadas às necessidades da sua empresa.</p>
      </div>
      <div class="uk-card-media" style="margin-top: auto;">
        <img data-src="imagens/metodologia_2.webp" style="width: 100%;" uk-img alt="Plano personalizado em saúde mental empresarial">
      </div>
    </div>
  </div>

  <!-- 3 Implementação prática -->
  <div>
    <div class="uk-card" style="background-color: #0288d1; display: flex; flex-direction: column; height: 100%; overflow: hidden;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700">
      <div style="padding: 20px; flex-grow: 1;">
        <h2 class="uk-card-title" style="font-size: 18px; color: white; margin-bottom: 5px; font-weight: bold; font-family: 'Archivo';">3 <br> Implementação prática</h2>
        <p style="font-size: 15px; color: white; margin: 0;">Aplicamos programas, workshops e sessões de acompanhamento.</p>
      </div>
      <div class="uk-card-media" style="margin-top: auto;">
        <img data-src="imagens/metodologia_3.webp" style="width: 100%;" uk-img alt="Implementação prática de programas de saúde mental empresarial">
      </div>
    </div>
  </div>

  <!-- 4 Monitorização contínua -->
  <div>
    <div class="uk-card" style="background-color: #01579b; display: flex; flex-direction: column; height: 100%; overflow: hidden;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
      <div style="padding: 20px; flex-grow: 1;">
        <h2 class="uk-card-title" style="font-size: 18px; color: white; margin-bottom: 5px; font-weight: bold; font-family: 'Archivo';">4 <br> Monitorização contínua</h2>
        <p style="font-size: 15px; color: white; margin: 0;">Avaliamos resultados e ajustamos sempre que necessário.</p>
      </div>
      <div class="uk-card-media" style="margin-top: auto;">
        <img data-src="imagens/metodologia_4.webp" style="width: 100%;" uk-img alt="Monitorização contínua em programas de saúde mental">
      </div>
    </div>
  </div>

  <!-- 5 Resultados sustentáveis -->
  <div>
    <div class="uk-card" style="background-color: #003f6f; display: flex; flex-direction: column; height: 100%; overflow: hidden;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">
      <div class="cont" style="padding: 20px; flex-grow: 1;">
        <h2 class="uk-card-title" style="font-size: 18px; color: white; margin-bottom: 5px; font-weight: bold; font-family: 'Archivo';">5 <br> Resultados sustentáveis</h2>
        <p style="font-size: 15px; color: white; margin: 0;">Garantimos impacto real na saúde mental e performance da equipa.</p>
      </div>
      <div class="uk-card-media" style="margin-top: auto;">
        <img data-src="imagens/metodologia_5.webp" style="width: 100%;" uk-img alt="Resultados sustentáveis na saúde mental empresarial">
      </div>
    </div>
  </div>
  <div class="uk-card uk-padding-large" style="background-color: #c467bf; display: flex; align-items: center; border: none;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000">
    <h2 class="uk-text-center uk-card-title" style="color: white; font-family: 'Archivo'; font-size: 18px; font-weight: bold;">Método Onda Branca</h2>
  </div>
    </div>
</div>
<div class="uk-width-expand@l vertical-title tamanho" style="background-color: #c467bf; text-align: center; padding: 20px; border: none;">
  <div uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">
    <h3 style="color: white; margin: 0; font-size: 18px; font-weight: bold; ">Do diagnóstico aos resultados</h3>
    <p style="color: #f1f1f1; margin: 5px 0 0;">Uma jornada completa para transformar a saúde mental na sua empresa</p>
  </div>
</div>
  </div>
</div>
</div>
