<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">

      <!-- Imagem -->
      <div class="uk-flex-last@m">
        <div class="uk-background-cover uk-height-1-1"
             style="max-width: 480px; margin: auto;  border-radius: 10px;" 
             data-src="imagens/gestao-de-saude-mental-para-empresa_1.webp"
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div class="uk-flex-first@s">
        <div class="uk-card" style="padding-top: 20px; padding-bottom: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Nossa Abordagem <span class="linha"></span></span>
            <span class="uk-text-light"> A saúde mental <span class="destaque" style="font-weight: bold;">corporativa é a base para <span class="uk-text-primary">equipas engajadas e produtivas</span></span></span>
          </h2>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;"uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Por isso, estruturamos uma metodologia que combina análise profunda, estratégias personalizadas e acompanhamento contínuo, sempre com foco em resultados sustentáveis.</p>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700">
            Nosso compromisso é transformar o cuidado emocional em uma vantagem competitiva para as empresas.
        </p>
        <ul class="uk-list uk-list-square" style="font-size: 16px; color: #212121;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 700"><strong>Mapeamento da realidade :</strong> Avaliamos a cultura organizacional, o nível de bem-estar dos colaboradores e os principais fatores de risco.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800"><strong>Planejamento estratégico :</strong> Desenhamos um plano de saúde mental alinhado aos objetivos do negócio, integrando prevenção e acompanhamento.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900"><strong>Programas personalizados :</strong> Desenvolvemos ações contínuas, como campanhas de sensibilização, palestras, workshops, rodas de conversa e programas de apoio psicológico.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Formação de líderes conscientes :</strong> Capacitação de gestores para reconhecer sinais de sobrecarga, acolher e apoiar suas equipas.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1100"><strong>Monitorização e melhoria constante :</strong> Criamos indicadores claros (KPIs) e relatórios que mostram a evolução da saúde mental na empresa.</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>