<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/programa-de-saude-mental.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">O Desafio Atual <span class="linha"></span></span>
            <span class="uk-text-light"> Fortalecer a saúde mental é fortalecer a <span class="uk-text-primary" style="font-size: 35px; font-weight: bold;">empresa</span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Num mundo corporativo cada vez mais exigente, os colaboradores enfrentam pressões constantes: prazos apertados, sobrecarga de tarefas e desequilíbrio entre vida pessoal e profissional.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Esses fatores afetam diretamente a motivação, aumentam o absentismo e comprometem os resultados da organização.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            É por isso que investir em saúde mental no trabalho deixou de ser um diferencial tornou-se uma necessidade estratégica para empresas que querem manter equipas fortes, inovadoras e sustentáveis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>