<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container" >
  <div class="uk-child-width-1-2@l uk-grid">
    <div>
      <div>
        <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Historia <span class="linha"></span></span>
            <span class="uk-text-light"> Cuidar da <span class="uk-text-primary destaque" style="font-size: 35px; font-weight: bold;">saúde mental</span> e ao mesmo tempo impulsionar a <span class="uk-text-primary destaque" style="font-size: 35px; font-weight: bold;">produtividade</span></span>
          </h2>
        </div>
    </div>
    <div>

    </div>
  </div>

  <div uk-slider="finite: true">
        <div class="uk-margin-small-bottom">
            <div uk-scrollspy="cls: uk-animation-slide-left; delay:900">
                <a href uk-slider-item="previous"  style="margin-right: 10px; display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 10px; background: #f4fbff00; border: 1px solid rgba(255, 255, 255, 0.479);">
                <span uk-icon="icon: chevron-left; ratio: 1.8" style="color: rgba(255, 255, 255, 0.479);"></span>
                </a>
                <a href uk-slider-item="next"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 10px; background: #f4fbff00; border: 1px solid rgba(255, 255, 255, 0.479);">
                <span uk-icon="icon: chevron-right; ratio: 1.8" style="color: rgba(255, 255, 255, 0.479);"></span>
                </a>
            </div>
        </div>
        <div class="uk-slider-container">
            <div class="uk-slider-items uk-child-width-1-3@l uk-grid uk-grid-collapse uk-grid-match" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
                <div class="uk-card" >
                    <div class="uk-card uk-card-body">
                        <h3 style="font-size: 32px; color: #212121; font-weight: 500; margin: 0;">2025<br>Fundação da empresas</h3>
                        <p style="font-size: 16px; color: #212121;">Nasceu em Angola com o propósito de responder a uma necessidade urgente: cuidar da saúde mental e promover a produtividade de forma equilibrada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>