.animated-btn {
    background: linear-gradient(
        90deg,
        #5B21B6,
        #8F51C9,
        #C084FC
    );
    background-size: 200%;
    animation: moveGradient 3s ease infinite;
    border: none;
}

@keyframes moveGradient {
    0% { background-position: 0%; }
    50% { background-position: 100%; }
    100% { background-position: 0%; }
}

.animated-btn:hover {
    box-shadow:
        0 0 15px rgba(143, 81, 201, 0.5),
        0 0 30px rgba(109, 40, 217, 0.3);

    background: linear-gradient(
        90deg,
        #4C1D95,
        #6D28D9,
        #8B5CF6,
        #C084FC,
        #4C1D95
    );

    background-size: 300% 100%;
}

.conteudo {
  max-width: 600px;
  left: 7%;
}

@media (min-width:344px) and (max-width: 767px) {
  .uk-slideshow-items {
    min-height: 740px !important;
  }

  .conteudo {
    left: 0 !important;
    right: 0 !important;
    top: 45%;
    transform: none;
    text-align: center !important;
    width: 100% !important;
  }   

  .titulo{
    max-width: 100% !important;
    margin: 0 !important;
    font-size: clamp(1.5rem, 100vw, 1.1rem) !important;
  }

  .uk-section{
    text-align: center;
  }

  .uk-button{
    font-size: clamp(.7rem, 100vw, 0.8rem) !important;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  
  .uk-slideshow-items{
    min-height: 450px !important;
  }
  
  .conteudo {
    width: 400px !important;
  }

  .titulo{
    max-width: 100% !important;
    margin: 0 !important;
    font-size: clamp(1.8rem, 100vw, 1.4rem) !important;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .uk-slideshow-items{
    min-height: 450px !important;
  }

  .conteudo {
    max-width: 450px !important;
  }
}