<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/gestao-de-saude-mental-para-empresa_2.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Construindo valor através da saúde mental<span class="linha"></span></span>
            <span class="uk-text-light"> Mais do que bem-estar, <span class="destaque" style="font-size: 35px; font-weight: bold;">entregamos <span class="uk-text-primary">clima  positivo, engajamento e liderança consciente</span></span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Entendemos que programas de saúde mental corporativa não são apenas ações pontuais, mas investimentos estratégicos que fortalecem equipas e impulsionam organizações. Cada iniciativa é desenhada para gerar impacto real, mensurável e sustentável.
          </p>
          <h3 style="font-size: 18px; font-weight: bold; color: #094268; margin: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900">O que a sua empresa conquista com a nossa atuação:</h3>
          <ul class="uk-list uk-list-square" style="font-size: 16px; color: #212121;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Clima organizacional saudável:</strong> Ambientes de trabalho pautados pela confiança, empatia e colaboração.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1100"><strong>Motivação e satisfação em alta:</strong> Colaboradores mais engajados, valorizados e comprometidos com resultados.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200"><strong>Redução de stress e burnout: </strong> Medidas práticas que previnem sobrecarga e promovem equilíbrio emocional.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1300"><strong>Cultura empresarial sustentável: </strong> Estratégias que consolidam um modelo de gestão humano e resiliente.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1400"><strong>Liderança consciente e transformadora: </strong> Gestores preparados para apoiar, inspirar e conduzir equipas de forma estratégica.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>