<div class="uk-container uk-section-large" style="background-color: #04165D;">
  <div class="uk-child-width-1-2@l uk-grid-large uk-flex-middle uk-grid">
    <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Baixar <span class="linha"></span></span>
            <span class="uk-text-light"> <span style="color: white; font-weight: bold;"> Gostaria de receber a brochura <span class="uk-text-primary">Programa de Ginástica Laboral</span> ?</span> </span>
          </h2>

    <!-- Formulário -->
    <div>
      <form action="" class="uk-form-stacked">
        <div class="uk-flex uk-flex-middle uk-flex-wrap uk-child-width-1-1@s uk-child-width-auto@m">
          <div class="uk-width-expand">
            <input class="uk-input" 
            style="flex: 1; background-color: transparent; border: 1px solid #717378; font-weight: 500; font-size: 18px; height: auto; padding: 12px; color: white;" 
            placeholder="Seu melhor e-mail..." 
            type="email" 
            required
          >
          </div>
          <div>
            <button 
            type="submit" 
            class="uk-button uk-button-default" 
            style="background-color: white; border-radius: 5px; font-size: 18px; padding: 8px 15px 8px 15px; color: #006699; font-weight: 500;"
          >
            Solicitar
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>