<div id="valores" class="uk-section uk-section-large uk-padding-remove" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="valores-section">
  <div class="valores-container">
    <h1 class="valores-title">valores</h1>
    <div class="valores-grid">
      <div>
        <h5>Cuidado com a pessoa</h5>
        <p>Colocar o bem-estar mental e emocional no centro de tudo.</p>
      </div>
      <div>
        <h5>Inclusão e diversidade</h5>
        <p>Cada pessoa importa, cada voz é ouvida.</p>
      </div>
      <div>
        <h5>Inovação com propósito</h5>
        <p>Usar criatividade e tecnologia para transformar vidas.</p>
      </div>
      <div>
        <h5>Equilíbrio e sustentabilidade</h5>
        <p>Unir produtividade com saúde e qualidade de vida.</p>
      </div>
      <div>
        <h5>Impacto positivo</h5>
        <p>Gerar mudanças reais na sociedade e nas comunidades.</p>
      </div>
    </div>
  </div>
</div>

  </div>
</div>