<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@l uk-flex-firts@s">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto; background-position: top;" 
             data-src="imagens/programa-de-saude-mental_1.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">A Solução <span class="linha"></span></span>
            <span class="uk-text-light"> Uma Abordagem Integrada de <span class="destaque uk-text-primary" style="font-size: 35px; font-weight: bold;">Saúde Mental</span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
           O Programa de Saúde Mental no Trabalho foi desenhado para responder diretamente aos desafios enfrentados pelas organizações modernas.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Através de uma abordagem estruturada, o programa combina prevenção, apoio psicológico e promoção do bem-estar, criando ambientes corporativos mais equilibrados e sustentáveis.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Ao integrar estas práticas na gestão de pessoas, a empresa fortalece as suas equipas, reduz custos com absentismo e potencia a produtividade de forma consistente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>