.zoom-hover {
  transition: transform 2s ease; /* controla a velocidade do zoom */
}

.zoom-container:hover .zoom-hover {
  transform: scale(1.1); /* aumenta a imagem ao passar o mouse */
}

.efeito-cantos {
  position: relative;
  overflow: hidden;
}

/* Círculos decorativos suaves */
.circulo {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 10%;
  background-color: #04165D;
  filter: blur(30px);   /* deixa suave */
  transition: all 1s ease;
  
  pointer-events: none; /* não bloqueia clique no conteúdo */
}

/* Superior direito */
.circulo.topo {
  top: -60px;
  right: -60px;
}

/* Inferior direito */
.circulo.baixo {
  
  bottom: -60px;
  left: -60px;
  background-color: #04165D;
}

/* Animação hover */
.efeito-cantos:hover .circulo.topo {
  top: 90px;         /* desce em vez de subir */
  opacity: 0.3;        
  transform: scale(1.1);
}

.efeito-cantos:hover .circulo.baixo {
  bottom: 90px;      /* sobe em vez de descer */
  opacity: 0.6;    
  transform: scale(1.1);
}

.uk-button:hover{
    background-color: #c467bf !important;
    color: white !important;
    border: 1px solid #c467bf;
}
.margin-left{
  margin-left: 100px !important;
}


.titulo-principal {
  font-size: 16px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.titulo-principal .linha {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 3px;
  background: linear-gradient(90deg, #00aaff, #0d5a90);
  display: block;
  animation: grow 2s infinite alternate;
}

@keyframes grow {
    from { width: 20%; }
    to { width: 80%; }
}

@keyframes growMobile {
  from { width: 0; }
  to { width: 25%; }
}

/* Mostrar em mobile e tablet (até 1198px) */
.btn-tablet-mobile {
  display: block;
  width: 240px !important;
}

/* Esconder no desktop grande (≥1200px) */
@media (min-width: 1200px) {
  .btn-tablet-mobile {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1198px) {
  .titulo-metricas{
    margin-top: 30px !important;
  }
}

@media (max-width:768px) {
  .uk-container{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  .margin-left{
    margin-left: 0 !important;
  }
  .titulo-metricas {
    text-align: left;
  }

  .titulo-principal {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .titulo-principal .linha{
    width: 25%;
    animation: growMobile 2s infinite alternate;
  }
}

.uk-button {
  text-transform: lowercase !important;   /* força tudo em minúsculas */
}

.uk-button::first-letter {
  text-transform: uppercase !important;   /* só a primeira letra da frase em maiúscula */
}

.uk-button {
  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease, background-color 0.3s ease;
  text-transform: lowercase;
  font-size: 20px !important;
  font-weight: 400 !important;
  border: none !important;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
}

/* efeito de espalhar/reagrupar */
.uk-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #c467bf !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* animação quando hover */
.uk-button:hover {
  color: white !important;
  border: none !important;
  animation: spreadRegroup 600ms ease forwards;
}

@keyframes spreadRegroup {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.08); } /* espalha */
  100% { transform: scale(1); }   /* volta ao normal */
}

.uk-button:hover::after {
  width: 250%;
  height: 250%;
  transition: width 0.4s ease, height 0.4s ease;
}