<div class="uk-section uk-section-large uk-padding-remove-bottom" style="background: linear-gradient(to right, #00224bec, #2A6FB0)">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div>
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/comunidade/comunidade-valores.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-left; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo'; color: white;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">valores da Comunidade<span class="linha"></span></span>
            <span class="uk-text-light"> A Base da Nossa Comunidade: <span class="destaque" style="font-size: 35px; font-weight: bold;">Princípios para um Ambiente <span style="color: #c467bf;">Seguro e Inclusivo</span> </span></span>
          </h2>
          <ul class="uk-list uk-list-square"style="font-size: 16px; color: white;">
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Respeito e Empatia: </strong> Cada voz é importante e ouvida com atenção</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Confidencialidade:</strong> O que é partilhado aqui, permanece aqui.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Cuidado Coletivo:</strong> Apoiamos uns aos outros em cada etapa.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Diversidade e Inclusão:</strong> Celebramos as nossas diferenças e garantimos que todos se sintam em casa.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Colaboração:</strong> Juntos, construímos um ambiente mais forte e solidário.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Transparência:</strong> Comunicamos de forma aberta e honesta para construir confiança.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Responsabilidade:</strong> Assumimos o compromisso com o bem-estar da nossa comunidade.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Crescimento:</strong> Estamos dedicados a aprender e a evoluir em conjunto.</li>
            <li uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1000"><strong>Segurança:</strong> Criamos um espaço onde todos se sentem seguros para ser quem são.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>