<div class="uk-section uk-section-large uk-padding-remove-bottom back" style="background-color: #F1F6FB;">
    <div class="uk-container">
            <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">O caminho certo para sua renda extra <span class="linha"></span></span>
            <span class="uk-text-light"> Um programa com <span class="destaque" style="font-size: 35px; font-weight: bold;">plano personalizado, métodos simples, equilíbrio e <span class="uk-text-primary">gestão financeira </span> descomplicada para gerar resultados reais</span></span>
          </h2>
                
        <div uk-slider="finite: true;" class="uk-margin-medium-top">
        <div class="uk-slider-container "  uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <div class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@s uk-child-width-1-1@s uk-grid uk-grid-collapse custom-slider">
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: white;">
                        <h3 class="uk-text-primary" style="font-size: 22px; font-weight: 500;">Plano sob medida</h3>
                        <p style="color: #212121;">Descubra oportunidades que combinam com seu perfil.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img data-src="imagens/renda_extra_1.webp" style="width:100%;" alt="Mentoria de saúde mental para gestores no ambiente de trabalho" uk-img>
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: white;">
                        <h3 class="uk-text-primary" style="font-size: 22px; font-weight: 500;">Métodos práticos</h3>
                        <p style="color: #212121;">Aprenda ferramentas simples para começar e crescer.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img data-src="imagens/renda_extra_2.webp"  style="width:100%;" alt="Atendimento empresarial com programas de saúde mental para equipes" uk-img>
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: white">
                        <h3 class="uk-text-primary" style="font-size: 22px; font-weight: 500;">Saúde e equilíbrio</h3>
                        <p style="color: #212121; font-size: 16px;">Mantenha produtividade sem esgotamento.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img uk-img data-src="imagens/renda_extra_3.webp" style="width:100%;" alt="Gestão de programas de saúde mental personalizados para empresas">
                    </div>
                </div>
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-body" style="background-color: white;">
                        <h3 class="uk-text-primary" style="font-size: 22px; font-weight: 500;">Controle financeiro</h3>
                        <p style="color: #212121; font-size: 16px;">Acompanhe seus ganhos de forma clara e organizada.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img  uk-img data-src="imagens/renda_extra_4.webp" style="width:100%;" alt="Programa de renda extra com foco em bem-estar e produtividade">
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin-small-bottom uk-margin-small-top uk-width-auto">
            <div uk-scrollspy="cls: uk-animation-slide-left; delay:900">
                <a href uk-slider-item="previous"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #094268">
                <span uk-icon="icon: chevron-left; ratio: 1.8" style="color: #094268;"></span>
                </a>
                <a href uk-slider-item="next"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #094268;">
                <span uk-icon="icon: chevron-right; ratio: 1.8" style="color: #094268"></span>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>