.back{
  background-image: url(/imagens/pgl/hero-programa-de-ginastica.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

p, h4{
  font-family: 'sora';
}

.animated-btn {
    background: linear-gradient(90deg, #8f51c9, #caa0ff);
    background-size: 200%;
    animation: moveGradient 3s ease infinite;
    border: none;
    padding: 5px !important;
    font-size: 1rem !important;
  }

  @keyframes moveGradient {
    0% { background-position: 0%; }
    50% { background-position: 100%; }
    100% { background-position: 0%; }
}

.animated-btn:hover {
  background: linear-gradient(
    90deg,
    #8d2fe5,
    #b984fa,
    #caa0ff,
    #a86be0,
    #7a3eb4
  );
  background-size: 300% 100%;
  box-shadow:
    0 0 15px rgba(138, 73, 202, 0.5),
    0 0 30px rgba(149, 69, 247, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
}

@media (min-width:344px) and (max-width: 767px) {
  .conteudo {
    position: static !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    transform: none;
    text-align: center;
    padding: 20px;
  }
  .back {
    height: 65vh !important;
    background-image: url(/imagens/mentoria-p7/hero-p7-mentoria-mobile.png) !important;
    background-position: center top;
  }   

  .titulo{
    max-width: 100% !important;
    margin: 0 !important;
    font-size: clamp(1.8rem, 100vw, 1.4rem) !important;
  }
  .titulo-p7{
    font-size: 2rem !important;
  }
  .uk-section{
    text-align: center;
  }
  .bnt{
    margin-bottom: 10px !important;
  }
  .btn-1{
    margin-top: 35px !important;
  }
}


/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .back {
    height: 50vh !important;
  }
  
  .conteudo{
    margin-bottom: 20px !important;
  }

  .sectio-baixo{
    margin-top: -90px !important;
  }
}

@media (max-height: 700px) {
  .titulo{
    font-size: 2rem !important;
    max-width: 450px !important;
  }
}