<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">
      
      <!-- Imagem -->
      <div class="uk-flex-last@l uk-flex-firts@s">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto; background-position: top;" 
             data-src="imagens/programa-de-saude-mental_9.webp" 
             uk-img uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        </div>
      </div>

      <!-- Conteúdo -->
      <div>
        <div class="uk-card " style="padding-top: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">
            <span class="titulo-principal">Porquê Investir em Saúde Mental no Trabalho? <span class="linha"></span></span>
            <span class="uk-text-light"> Mais que Cuidado, <span class="destaque uk-text-primary" style="font-size: 35px; font-weight: bold;"> um Investimento Inteligente</span></span>
          </h2>

          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
           Investir em saúde mental vai muito além de uma ação de responsabilidade social — é uma estratégia de gestão inteligente. Quando a empresa valoriza o bem-estar dos seus colaboradores, cria um ambiente onde as pessoas se sentem motivadas, produtivas e comprometidas.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Equipes saudáveis significam menos absentismo, maior retenção de talentos e melhor desempenho coletivo. Além disso, empresas que cuidam da saúde mental demonstram inovação, fortalecem sua reputação no mercado e tornam-se mais resilientes diante de crises.
          </p>
          <p class="uk-text" style="font-size: 16px; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 800">
            Portanto, apostar na saúde mental é construir organizações mais <strong>humanas</strong>, <strong>inovadoras</strong> e <strong>sustentáveis</strong>, que sabem equilibrar o crescimento económico com o cuidado genuíno pelas pessoas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>