<div class="uk-section uk-section-large" style="background-color: #F1F6FB;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-grid uk-flex-middle" uk-grid uk-height-match="target: > div > div">

      <!-- Imagem -->
      <div class="uk-flex-last@m" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
        <div class="uk-background-cover uk-border-rounded uk-height-1-1"
             style="max-width: 480px; margin: auto;" 
             data-src="imagens/gestores.webp" 
             uk-img>
        </div>
      </div>

      <!-- Conteúdo -->
      <div class="uk-flex-first@s">
        <div class="uk-card" style="padding-top: 20px; padding-bottom: 20px;">
          <h2 class="uk-margin-remove titulo-metricas" style="font-family: 'Archivo';" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 400">
            <span class="titulo-principal">Liderar com Consciência <span class="linha"></span></span>
            <span class="uk-text-light"><span class="detaque" style="font-weight: bold; font-size: 35px;"><span class="uk-text-primary">Transforme sua gestão</span>, inspire sua equipa.</span> Nova turma começa em <span class="uk-text-primary" style="text-decoration: underline; font-weight: bold;">15 de outubro</span>.</span>
          </h2>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 500">Se você é gestor e está em busca de ferramentas reais para liderar com mais equilíbrio e impacto, esta é a sua oportunidade.</p>
          <p style="font-size: 16px; font-family: 'Archivo'; color: #212121;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600"><span style="color: #094268;" class="titulo-principal">Vagas limitadas <span class="linha"></span></span> reservadas para líderes que desejam transformar sua forma de gerir, cuidando da saúde mental sem abrir mão da performance.</p>
          <blockquote uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600">
            Este programa foi criado para quem lidera pessoas, projetos e culturas. Ao participar, <span style="text-decoration: underline;">você terá acesso a uma rede de líderes conscientes</span>, conteúdos aplicáveis e <span style="text-decoration: underline;">suporte especializado para enfrentar os desafios da gestão moderna com mais clareza e confiança</span>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>